[2021-08-17 18:18] andrewgodwin opened #3 "Async Databricks Operator"
We'd like a pair of async operators that mirror the functionality of Airflow's Databricks operators.

[2021-08-17 18:28] andrewgodwin opened #4 "Async HTTP Sensor Research/Prototype"
Feel free to add more tickets for main code completion/tests, or just expand this one to cover them all.

[2021-08-17 18:35] andrewgodwin opened #5 "Async KubernetesPodOperator"
We want to write a version of the KubernetesPodOperator where the core "waiting for the pod to finish" part of the operator is offloaded to a trigger.

[2021-08-17 18:47] andrewgodwin opened #6 "Commercial Operators documentation"
We're going to run this primarily through the beta docs UI - Jake W will handle the final formatting and markup, we just need to get him a reasonable draft in Notion.

[2021-08-18 15:32] andrewgodwin opened #7 "Databricks Operator Coding"
Get the Databricks operator coded up and working in manual testing, but without a full unit test suite

[2021-08-30 19:59] #7 closed, assigned to jarfgit

[2021-09-13 15:03] #6 closed, assigned to andrewgodwin

[2021-09-13 16:18] #3 closed, assigned to jarfgit

[2021-09-13 23:18] #4 closed, assigned to kaxil

[2021-09-20 01:29] kaxil opened #13 "[Spike] Async `GCSObjectExistenceSensor`"
Async version of https://github.com/apache/airflow/blob/1008d8bf8acf459dbc692691a589c27fa4567123/airflow/providers/google/cloud/sensors/gcs.py#L30 using one of the following libraries:

- https://github.com/talkiq/gcloud-aio/blob/master/storage/README.rst
- https://github.com/omarryhan/aiogoogle

Official Python client does not support it yet: https://github.com/googleapis/google-cloud-python/issu

[2021-09-20 01:36] kaxil opened #14 "Implement Async `S3KeySensor`"
Based on the research in https://github.com/astronomer/astronomer-operators/issues/32 - Async `RedshiftOperator`

**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [ ] Example DAG using the async Operator that can be used to run Integration tests that are parametrized via Environ

[2021-12-01 23:21] kaxil opened #19 "Create `SnowflakeOperatorAsync`"
## Develop `SnowflakeOperatorAsync`

The Python Connector for Snowflake support Asynchronous query:
https://docs.snowflake.com/en/user-guide/python-connector-example.html#performing-an-asynchronous-query

So we should be able to make the [`SnowflakeOperator`](https://github.com/apache/airflow/blob/eaa8ac72fc901de163b912a94dbe675045d2a009/airflow/providers/snowflake/operators/snowflake.py#L43) **As

[2021-12-02 00:24] kaxil opened #20 "Create `PostgresOperatorAsync`"
## Develop `PostgresOperatorAsync`

- [x] Research and find the library to use that supports async with Postgres
Check if the https://www.psycopg.org/docs/ ( library used by Airflow Postgres provider) supports python Async (most likely not).

If not there are potentially other libraries we can use:
- https://github.com/MagicStack/asyncpg (https://magicstack.github.io/asyncpg/current/)
- https://ai

[2021-12-02 10:27] kaxil opened #21 "DB-based Operators (First Batch)"
**Providers**:
- Snowflake
- Postgres
- KubernetesPodOperator
- Databricks (done)

**Testing & Production Readiness**
    - Setup dev environments
    - Write and run actual dags to tests apart from the unit tests in the repo

[2021-12-02 10:30] kaxil opened #22 "File-based Async Operators (Second Batch)"

[2021-12-02 10:31] kaxil opened #23 "Spark-based Operators (Third Batch)"

[2021-12-08 20:04] kaxil opened #24 "Packaging & Distribution of Operators"
### Requirements

We want to have a **private PyPI** to publish the wheel package (packaging this repo) that has the following features:
  - Authentication & User Management
    - Should support SSO  (Auth0 / Okta) so it can hook into the Platform Auth
  - Provide Download Metrics
  - Support for publishing private Docker images for future (optional)

### Possible Options

- https://cloud.google.c

[2021-12-23 05:15] phanikumv opened #27 "OSS provider category sizing"
Get the numbers for a rough sizing (how many) in each category from the OSS?

Database (Postgres, Snowflake, …)
File (Local, GCS, S3, …)
Job submit (Spark, Databricks?, …)
Notification / Alerting (Slack, …)
REST / JSON API (…) Not sure how many of these exist in Airflow, but big market for these.
Monitoring (Datadog, ..)
Data Quality (Great Expectation, … )
Observability / Lineage (Datakin, …)

[2021-12-25 04:57] phanikumv opened #30 "Solution to detect classpath issues in serialize method of Async Trigger"
We need a solution to highlight to the developer whenever an incorrect trigger classpath is used in the serialize method.

We ended up spending unreasonable time to detect this last time, as the task will just show the exception as "Trigger failure" and no other information

Either write a unit test to detect this (or) come up with an alternative approach.

[2021-12-27 20:18] kaxil opened #31 "Implement Async `BigqueryOperator`"
Build async version of https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/operators/bigquery.py

**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [ ] Example DAG using the async Operator that can be used to run Integration tests that are parametrized via

[2021-12-27 20:19] kaxil opened #32 "[SPIKE] Async `RedshiftOperator`"
**Acceptance Criteria:**
Document possible options and selection reason for a particular library in this GitHub issue via a Summary comment.

Find a Python library that supports async implementation for boto3.

Some quick research points to the following:
- https://github.com/aio-libs/aiobotocore
- https://aioboto3.readthedocs.io/en/latest/usage.html

Official Python client does not support it yet

[2021-12-29 14:01] kaxil opened #33 "Ankit - Airflow Certification 1 - Fundamentals Training"
Acceptance Criteria:

- Get Certification

[2021-12-29 14:27] kaxil opened #34 "Implement Async `RedshiftOperator`"
Based on the research in https://github.com/astronomer/astronomer-operators/issues/32  - Async `RedshiftOperator`.

**Acceptance Criteria**:
- [x] Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [x] Example DAG using the async Operator that can be used to run Integration tests that are parametrized via Envir

[2021-12-29 14:27] kaxil opened #35 "Implement Async `GCSObjectExistenceSensor`"
Based on the research in https://github.com/astronomer/astronomer-operators/issues/13  - Async `GCSObjectExistenceSensor`.

Async version of https://github.com/apache/airflow/blob/1008d8bf8acf459dbc692691a589c27fa4567123/airflow/providers/google/cloud/sensors/gcs.py#L30 using one of the following libraries:

https://github.com/talkiq/gcloud-aio/blob/master/storage/README.rst
https://github.com/oma

[2021-12-29 14:36] kaxil opened #36 "Ankit - Airflow Certification 2 - DAG Authoring"
Acceptance Criteria:

- Get Certification

[2021-12-30 17:56] kaxil opened #37 "Add Code Coverage"
Possible Solution:
- https://about.codecov.io/

Acceptance Criteria:
- Code Coverage integrated with our CI (GitHub Actions) that runs on each PR and merged commit.

[2022-01-10 08:25] #19 closed, assigned to bharanidharan14

[2022-01-10 21:27] #5 closed, assigned to dstandish, jedcunningham

[2022-01-10 22:21] kaxil opened #41 "Upgrade to latest version of Databricks Provider"
Tests fail ([link](https://app.circleci.com/pipelines/github/astronomer/astronomer-operators/232/workflows/4ab42b92-61f1-4506-aa87-fd80a60cad36/jobs/245)) if we upgrade to `apache-airflow-providers-databricks>2.0.2`

- https://github.com/astronomer/astronomer-operators/pull/18#discussion_r771099076
- https://github.com/astronomer/astronomer-operators/pull/40

We should bump the version and fix the

[2022-01-10 22:23] #37 closed, assigned to phanikumv

[2022-01-10 22:24] #33 closed, assigned to sunank200

[2022-01-12 15:16] #36 closed, assigned to sunank200

[2022-01-18 10:10] #32 closed, assigned to bharanidharan14

[2022-01-18 10:10] #13 closed, assigned to rajaths010494

[2022-01-18 10:10] #27 closed, assigned to rajaths010494

[2022-01-18 10:24] phanikumv opened #43 "Open source astronomer-operators repo"
- [x] Use implicit namespaces - `astronomer.providers.XYZ` (https://github.com/astronomer/astronomer-operators/pull/57)
- [x] Rename repo name? Do we need to move the repo to a different organization like https://github.com/astro-projects/ ?
- [x] Package Rename for publishing to PyPI
- [x] Update description and other metadata in setup.cfg
- [x] Add Apache2 LICENSE  (https://github.com/astronomer

[2022-01-19 16:04] phanikumv opened #44 "Auto terminate unused cloud(AWS,Google,Azure) resources"
Create a utility script to auto terminate the cloud resources, if not used within the last 1 hr. This will improve our resource usage efficiency and reduce costs.

For instance, we can create a Lambda function on AWS which checks whether a particular resource(say, for example an EMR cluster) is unused for the last 1 hr and then terminate it automatically.

[2022-02-11 12:09] phanikumv opened #52 "Change BigQueryInsertJobOperatorAsync to use OSS BigQueryHook"
This story is the technical debt story for the pending work to use the OSS BigQueryHook within the BigQueryInsertJobOperatorAsync.

The code change needs to

- Remove _BigQueryHook usage in google/hooks/bigquery_async.py
- Import the  OSS BigQueryHook within google/operators/bigquery_async.py
- Change the tests accordingly for the google async hooks and operators

**Note**
Ensure that the PR https

[2022-02-11 12:35] phanikumv opened #53 "Pankaj - Airflow Certification 1 - Fundamentals Training"
Acceptance Criteria:

Get Certification

[2022-02-11 12:35] phanikumv opened #54 "Pankaj - Airflow Certification 2 - DAG Authoring"
Acceptance Criteria:

Get Certification

[2022-02-11 17:01] #53 closed, assigned to pankajastro

[2022-02-11 17:07] #54 closed, assigned to pankajastro

[2022-02-11 20:27] #41 closed, assigned to sunank200

[2022-02-15 09:56] phanikumv opened #55 "Automate naming conventions check"
Research and integrate a pre-commit hook that checks the files for bad naming convention within this repository.
Example of a bad naming convention would be to name a file as AsyncBigQueryInsertJobOperator rather than BigQueryInsertJobOperatorAsync.

[2022-02-15 11:41] #35 closed, assigned to rajaths010494

[2022-02-15 19:01] #14 closed, assigned to sunank200

[2022-02-21 18:44] kaxil opened #63 "Parameterize example DAGs for integration tests"
We want to run all the example DAGs in this repo on a weekly basis at least to start with (we can change frequency later on).

There is also a recent related AIP worth reading and adding your thoughts on it - https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests

**Acceptance Criteria**:
- [x] All the example DAGs in this repo should be updated so the parame

[2022-02-21 21:25] #24 closed, assigned to phanikumv

[2022-02-21 21:35] kaxil opened #64 "Use Sphinx to autogenerate user-facing docs"
Use [Sphinx](https://www.sphinx-doc.org/en/master/usage/quickstart.html) and [Sphinx auto-api](https://sphinx-autoapi.readthedocs.io/en/latest/) extension to autogenerate docs to achieve the following:

- Better discoverability of the available Async Operators, Sensors and Hooks
- Allows us to document the limitations of certain async operators
- Add better compatibility matrix of Airflow and astr

[2022-02-22 00:07] kaxil opened #65 "Increase Typing Coverage & Enable MyPy"
Add [Type Hints](https://docs.python.org/3/library/typing.html) and Enable [mypy](https://mypy.readthedocs.io/) with strict checking.

Preparatory work in https://github.com/astronomer/astronomer-providers/tree/mypy-strict

Running `make run-mypy` will show the errors that need fixing.

**Acceptance Criteria**:
* MyPy enabled in strict mode and runs in CI.

[2022-02-22 00:40] kaxil opened #66 "Implement remaining S3 Sensors / Operators"
As a follow-up to https://github.com/astronomer/astronomer-providers/issues/14 we should complete the remaining operators/sensors in the s3 module for the Amazon provider. Please look at [docs](https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/_api/airflow/providers/amazon/) to see if there are other operators we should make Async (**Principle** - Only create Async operators f

[2022-02-22 01:04] kaxil opened #67 "Implement Async `S3ToRedshiftOperator`"
Follow up of https://github.com/astronomer/astronomer-providers/issues/34 to implement async version of [`S3ToRedshiftOperator`](https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/_api/airflow/providers/amazon/aws/transfers/s3_to_redshift/index.html#airflow.providers.amazon.aws.transfers.s3_to_redshift.S3ToRedshiftOperator).

**Acceptance Criteria**:
- [ ] Unit Tests coverage i

[2022-02-22 01:45] kaxil opened #68 "Implement async for remaining Bigquery sensors"
Follow up of https://github.com/astronomer/astronomer-providers/issues/31

Implement async versions for the following sensors:
- [x] [`BigQueryTableExistenceSensor`](https://airflow.apache.org/docs/apache-airflow-providers-google/stable/_api/airflow/providers/google/cloud/sensors/bigquery/index.html#airflow.providers.google.cloud.sensors.bigquery.BigQueryTableExistenceSensor) -> @rajaths010494
- [

[2022-02-22 01:56] kaxil opened #69 "Implement async versions of the remaining GCS sensors"
Follow up of https://github.com/astronomer/astronomer-providers/issues/35 to Implement async versions of the remaining GCS sensors:

- [ ] [`GCSObjectUpdateSensor`](https://airflow.apache.org/docs/apache-airflow-providers-google/stable/_api/airflow/providers/google/cloud/sensors/gcs/index.html#airflow.providers.google.cloud.sensors.gcs.GCSObjectUpdateSensor)  -> @bharanidharan14
- [x] [`GCSObjects

[2022-02-24 06:37] rajaths010494 opened #74 "BigQueryGetDataOperator: fails when the table has Date field"
### Apache Airflow Provider(s)
google

### Versions of Apache Airflow Providers
apache-airflow-providers-google==6.3.0

### Apache Airflow version
2.2.3

### Operating System
Any

### Deployment
Docker-Compose

### Deployment details
No response

### What happened
 The operator ` airflow.providers.google.cloud.operators.bigquery.BigQueryGetDataOperator ` fails when the table for which data needs t

[2022-02-24 06:45] #74 closed, assigned to nobody

[2022-02-25 13:06] #31 closed, assigned to phanikumv

[2022-02-25 15:53] #34 closed, assigned to bharanidharan14

[2022-02-25 15:58] phanikumv opened #75 "Compatibility matrix for astronomer-providers"
**Acceptance Criteria:**
Add Compatibility matrix with Airflow versions

[2022-02-25 16:03] #43 closed, assigned to kaxil, phanikumv

[2022-02-25 16:15] phanikumv opened #76 "Add guidelines for example DAG in CONTRIBUTING.rst"
Some of the rules that can be added are:-

- Include a long running query always in the example DAG.
- Include a clean up step at the start of the example DAG so that there wont be failures if the resources are already present.
- Run all the steps in example DAG even if a particular task fails.

[2022-02-28 13:57] sunank200 opened #77 "HTTPSensorAsync not working"
The `HTTPSensorAsync` does not defer the task to trigger. Its essentially calling the `HTTPSensor`  run method. Pasting the log for the example dag for the reference.

[code]

[2022-03-01 12:09] #77 closed, assigned to nobody

[2022-03-02 08:01] phanikumv opened #85 "Reorganize S3KeySensor"
Add the trigger's common method to hooks as the methods can be reused by other sensors and triggers.

Acceptance Criteria:
- Test the example DAG
- Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
-  Example DAG using the async Operator that can be used to run Integration tests that are parametrized via Environ

[2022-03-02 10:24] phanikumv opened #87 "Fix code coverage on Snowflake and Redshift Async Operators"
Code coverage on the Snowflake and Redshift operators is low. Lets bring it above 90%.

[2022-03-02 10:25] phanikumv commented on #87
![image.png](https://images.zenhubusercontent.com/61a8a7dd5f00b9eb2dba7274/05a24235-4ba9-4950-acae-54363a9321b0)

[2022-03-02 10:26] sunank200 commented on #85
[PR](https://github.com/astronomer/astronomer-providers/pull/86) for the change.

The CI is failing as coverage for snowflake and redshift cluster hooks is less than 80%.

[2022-03-02 10:48] bharanidharan14 commented on #69
GCSUploadSessionCompleteSensor- @bharanidharan14

[2022-03-02 10:50] kaxil commented on #69
Any sensor by design does some polling until a certain criteria is met:

check the source code, it polls until the time is updated on the object @bharanidharan14
https://airflow.apache.org/docs/apache-airflow-providers-google/stable/_modules/airflow/providers/google/cloud/sensors/gcs.html#GCSObjectUpdateSensor

[2022-03-02 17:33] phanikumv opened #89 "Create Async version of DatabricksSqlOperator"
Implement async version of [DatabricksSqlOperator](https://airflow.apache.org/docs/apache-airflow-providers-databricks/stable/operators/sql.html#using-the-operator)

**Acceptance Criteria:**

 Unit Tests coverage in the PR (90% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
 Example DAG using the async Operator that can be used to run Integrat

[2022-03-02 20:20] kaxil commented on #76
This can probably go under a `Coding style and best practices` like Airflow one https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#coding-style-and-best-practices

[2022-03-02 20:22] kaxil commented on #76
Some more points that can be added:

- The Async version of the operator should ideally be easily swappable and no DAG-facing changes should be required apart from changing Import Paths.
- See if the official library supports async, if not find a third-party library that supports async calls. (You can give example of Snowflake where the official library did allow async whereas Google’s official li

[2022-03-03 06:41] rajaths010494 commented on #69
working on `GCSObjectsWithPrefixExistenceSensor ` - @rajaths010494

[2022-03-03 12:28] rajaths010494 commented on #69
Working on `GCSUploadSessionCompleteSensor`- @rajaths010494

[2022-03-04 10:40] raphaelauv opened #94 "KubernetesPodOperatorAsync not using AIRFLOW__KUBERNETES__CONFIG_FILE"
**Describe the bug**

the env variable AIRFLOW__KUBERNETES__CONFIG_FILE is not used by the KubernetesPodOperatorAsync

**To Reproduce**

set
AIRFLOW__KUBERNETES__CONFIG_FILE=/usr/local/airflow/include/.kube/config

then it will log
Config not found: ~/.kube/config

[2022-03-04 14:22] phanikumv commented on #66
S3CopyObjectOperator - This Operator executes a copy_object method which creates a copy of an object that is already stored in S3. No process id generated when we execute a copy_object method.

[2022-03-04 16:36] fj-sanchez opened #96 "Incompatibility with Airflow 2.2.4"
**Describe the bug**
If you try to install `airflow==2.2.4` with the `astronomer-providers==1.0.0` it will run into a dependency version conflict.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh virtualenv with Python 3.9: `pyenv virtualenv 3.9.7 airflow-test`
2. Activate the virtualenv: `pyenv virtualenv activate airlfow-test`
3. Install Airflow 2.2.4 with S3 extras and astro

[2022-03-07 05:51] phanikumv opened #98 "Implement Async `AzureDataFactoryPipelineRunStatusSensor`"
Async version of `AzureDataFactoryPipelineRunStatusSensor`: https://airflow.apache.org/docs/apache-airflow-providers-microsoft-azure/stable/_api/airflow/providers/microsoft/azure/sensors/data_factory/index.html#airflow.providers.microsoft.azure.sensors.data_factory.AzureDataFactoryPipelineRunStatusSensor

**Acceptance Criteria**:
- [x] Unit Tests coverage in the PR (80% Code Coverage -- We will ne

[2022-03-07 05:51] phanikumv opened #99 "Implement AzureCosmosDocumentSensor"

[2022-03-07 05:53] phanikumv opened #100 "Implement Async Azure Operators"

[2022-03-07 07:07] phanikumv commented on #87
@bharanidharan14 - please post the update on this ticket.

[2022-03-07 07:12] phanikumv commented on #65
@rajaths010494 to check the latest on the mypy-strict branch and post the update here

[2022-03-07 10:11] raphaelauv opened #101 "Split the dependencies"
**Is your feature request related to a problem? Please describe.**
I would like to use only a part of this provider, in my case I only need the CNCF ( so I do not want all the aws , gcp .. depedencies )

**Describe the solution you'd like**
if I could do a pip install :
[code]
**Describe alternatives you've considered**
Copy paste the CNCF folder of this repo inside my private dags repo

**Additio

[2022-03-07 11:35] sunank200 commented on #66
`S3FileTransformOperator` uses `check_for_key`, `get_key` and `select_key` for which there is no process-id being returned. Also, `aiobotocore` and `botocore` doesn't return process-id either. The hook methods implemented on OSS side also would be blocking call.

My understanding is that async implementation for this operator would not work.

Please correct me of I am wrong.

[2022-03-07 11:36] sunank200 commented on #66
`S3FileTransformOperator` uses `check_for_key`, `get_key` and `select_key` for which there is no process-id being returned. Also, `aiobotocore` and `botocore` doesn't return process-id either. The hook methods implemented on OSS side also would be blocking call.

My understanding is that async implementation for this operator would not work.

Please correct me of I am wrong.

[2022-03-07 11:36] sunank200 commented on #66
`S3FileTransformOperator` uses `check_for_key`, `get_key` and `select_key` for which there is no process-id being returned. Also, `aiobotocore` and `botocore` doesn't return process-id either. The hook methods implemented on OSS side also would be blocking call.

My understanding is that async implementation for this operator would not work.

Please correct me of I am wrong.

[2022-03-07 11:49] rajaths010494 commented on #65
[code]

[2022-03-07 16:16] kaxil commented on #101
Thanks @raphaelauv for creating the feature request, we are definitely planning to split the dependencies soon and allow installing dependencies using extras like `astronomer-providers[cncf.kubernetes]==1.0.0`.

[2022-03-07 16:26] kaxil commented on #96
Thanks for raising the issue @fj-sanchez  . This is a known issue, I have created a GitHub issue on aio-botocore [here](https://github.com/aio-libs/aiobotocore/issues/924).

For now, you can install it as follows:

[code]

OR

[code]

We publish constraints in Airflow, mainly to have a set of "known-working" dependencies but in this case that is causing conflict with `aiobotocore`. This will happe

[2022-03-07 16:26] #96 closed

[2022-03-08 06:08] phanikumv commented on #63
@pankajastro - please regularly post updates here on the progress being made.

[2022-03-08 06:31] pankajastro commented on #63
Building image -> Mostly done but currently using pip install to install provider code in image
Basic working script to push/deploy dag in cloud env -> Done
Master DAG to trigger example DAG -> In progress

[2022-03-08 06:38] rajaths010494 commented on #69
https://github.com/astronomer/astronomer-providers/pull/90

[2022-03-08 06:40] bharanidharan14 commented on #87
Fixed the test coverage Updated the PR

[2022-03-08 13:12] bharanidharan14 commented on #87
![Screenshot 2022-03-08 at 6.41.45 PM.png](https://images.zenhubusercontent.com/61a8a8b8234cfe4cbd2d235b/5498ba53-aa42-4736-89db-05c6677f1ddf)![Screenshot 2022-03-08 at 6.04.44 PM.png](https://images.zenhubusercontent.com/61a8a8b8234cfe4cbd2d235b/5b92a19c-dbe4-40cc-925e-e8a9d980954a)

[2022-03-08 13:12] bharanidharan14 commented on #87
Fixed

[2022-03-08 17:39] sunank200 commented on #65
Fixed mypy errors for amazon providers and merged the changes to ` amazon-s3-operators` branch

[2022-03-08 21:04] #85 closed

[2022-03-09 02:32] #65 closed, assigned to phanikumv

[2022-03-09 11:44] phanikumv opened #104 "Enhance example DAG for S3 sensors"
The example DAG for S3 sensors is still not self sufficient. For example, when you are deferring the task, the task will keep on waiting for the expected file to come into S3, which currently doesnt move to complete until there is a manual intervention of uploading the file to s3. We should create a file automatically in the expected location through a parallel task which runs, say a minute after

[2022-03-09 11:52] phanikumv commented on #66
PR https://github.com/astronomer/astronomer-providers/pull/91 will add the S3PrefixSensor

[2022-03-09 21:03] #66 closed

[2022-03-10 08:36] bharanidharan14 commented on #87
Created PR https://github.com/astronomer/astronomer-providers/pull/107

[2022-03-10 10:48] sunank200 opened #108 "S3KeysUnchangedTrigger run method on infinite loop"
**Describe the bug**
Currently, run method calls `is_keys_unchanged()` and the  self.previous_objects , self.last_activity_time and self.inactivity_seconds is being reset every time in the while loop but it should have been the value returned from `is_keys_unchanged()`. In the [code](https://github.com/astronomer/astronomer-providers/blob/main/astronomer/providers/amazon/aws/hooks/s3.py#L255) for

[2022-03-10 14:49] #104 closed

[2022-03-10 17:25] #87 closed

[2022-03-10 17:25] phanikumv commented on #87
Closing as PR is merged to main

[2022-03-10 20:33] #69 closed

[2022-03-10 22:30] kaxil commented on #94
@raphaelauv Where did you see this log, on `Triggerer` or `Scheduler` ?

[2022-03-11 02:19] #101 closed

[2022-03-11 10:42] raphaelauv commented on #94
in the Triggerer

[code]

[2022-03-11 12:08] phanikumv commented on #76
Please list down some common pitfalls and best practises as well.
Some of the points that I can recollect at the moment are:

1.using correct class path in trigger serialize method
2.Referencing issue link in the PR descriptions
3.Writing unit tests which respect the code coverage toleration
4.git commit messages aligned to open source standards
5.rebase frequently
6.include some learnings on the

[2022-03-11 12:15] pankajastro commented on #63
Update
--------
Updating example code -> Done
Building image -> Done
Script to push/deploy dag in cloud env -> Done
Master DAG to trigger example DAG -> Done
Testing -> I have scheduled it for smaller schedule_interval and watching the behaviour
Report Generation -> TODO

[2022-03-11 12:35] bharanidharan14 opened #116 "Add Delay to GCS sensors DAG"

[2022-03-11 12:43] #116 closed

[2022-03-11 16:44] #76 closed, assigned to sunank200

[2022-03-14 05:52] phanikumv opened #119 "Implement Async for native Spark Operators"

[2022-03-14 06:01] phanikumv opened #120 "Implement Async for EMR Operators and Sensors"
Please look at docs to see if there are other operators we should make Async (Principle - Only create Async operators for the “sync-version” of operators that do some level of polling; take more than a few seconds to complete) for the EMR

Implement async versions for the following operators (Aligned on descending order of priority)
- [x] [`EmrCreateJobFlowOperator`](https://airflow.apache.org/doc

[2022-03-14 06:08] rajaths010494 commented on #68
working on. `BigQueryTableExistenceSensor `

[2022-03-14 06:19] bharanidharan14 commented on #68
Started working on `BigQueryTablePartitionExistenceSensor` async

[2022-03-14 12:31] phanikumv opened #122 "Implement Async Hive Operators"
Implement async versions for the following operators:
- [ ] [`HiveOperator`](https://airflow.apache.org/docs/apache-airflow-providers-apache-hive/stable/_api/airflow/providers/apache/hive/operators/hive/index.html#module-airflow.providers.apache.hive.operators.hive)

**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (90% Code Coverage -- We will need to add CodeCov separately to measure

[2022-03-14 15:31] phanikumv opened #124 "Integration tests: Run Example DAGs on Cloud envs"
Have one of the following that pushes all the example DAG in Gen2 cloud deployment, creates necessary connections and runs all the DAGs. And send a Slack message with the summary of the run :
(a) Scheduled CI job
(b) A master DAG that runs on a schedule in the same deployment

[2022-03-14 15:34] phanikumv commented on #63
Created #124 to address the below point:-

Have one of the following that pushes all the example DAG in Gen2 cloud deployment, creates necessary connections and runs all the DAGs. And send a Slack message with the summary of the run :
   -  (a) **Scheduled CI job**
   - (b) A master DAG that runs on a schedule in the same deployment

[2022-03-15 00:41] #64 closed

[2022-03-15 00:44] kaxil commented on #64
We should create a follow-up ticket to take care of:

- Adding limitations/differences of Async compared to Sync providers in the docstrings of the operator itself
- Add and automate generation of requirements (Optional)

[2022-03-15 10:21] kaxil commented on #94
Looks like we have the same thing with `KubernetesPodOperator`, currently that setting is mostly for `KubernetesExecutor` and we can make it explicit in Airflow docs or start using the configs for KPO too :)

The other thing you could do is:

[code]

That way, it will work for all different ways of settings Airflow configs: Secrets Backend, Env Vars, airflow.cfg :)

[2022-03-15 14:30] rajaths010494 opened #126 "Bug: BigQueryGetDataOperator XCOM is unable to deserialise json"
- When a date column is present in the Big Query table ,  BigQueryGetDataOperator  is failing to  deserialise json in XCOM

[2022-03-15 14:33] rajaths010494 opened #127 "Bug : BigQueryGetDataOperator output is not getting casted to respective data types"
The result of the BigQueryGetDataOperator is dict[str,str] where column types are int or date field in BigQuery. Need to change the output to cast to the big query column types.

[2022-03-15 14:34] rajaths010494 opened #128 "Bug: LocalFilesystemToGCSOperator not raising exception on non existent file"
LocalFilesystemToGCSOperator didn’t throw a file not found an exception when I tried to upload a non-existing file.

Below example DAG will pass even if example-text.txt does not exist

[code]

[2022-03-15 14:35] rajaths010494 opened #129 "Create example gcs dags in OSS airflow."
example DAG’s for GCSUploadSessionCompleteSensor  and GCSObjectUpdateSensor

[2022-03-15 14:51] raphaelauv commented on #94
No AIRFLOW__KUBERNETES__CONFIG_FILE work with the KubernetesPodOperator because of this line

https://github.com/apache/airflow/blob/3452f7ce45607af04bade5e5edebaa18fdc13819/airflow/kubernetes/kube_client.py#L133

call by https://github.com/apache/airflow/blob/3452f7ce45607af04bade5e5edebaa18fdc13819/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L320

[2022-03-15 17:05] kaxil commented on #94
Oh yes, you are absolutely right, we will fix it and release a new version soon :)

[2022-03-15 19:51] sunank200 opened #130 "USER_AGENT_HEADER removed from airflow.providers.databricks.hooks.databricks"
**Describe the bug**
The [USER_AGENT_HEADER](https://github.com/astronomer/astronomer-providers/blob/1a27d231246e1c3c400ca7a3343d9372b6b51acf/astronomer/providers/databricks/hooks/databricks.py#L10) is imported from [airflow.providers.databricks.hooks.databricks](https://github.com/apache/airflow/blob/main/airflow/providers/databricks/hooks/databricks.py) as part of this [commit](https://github.co

[2022-03-16 05:45] dstandish commented on #94
actually i would prefer if we do not add support for using the config.  as @raphaelauv has pointed out, users can set the config file in operator param.  and once we add support for k8s hook in kpo, then users can just set it in k8s connection.

if we add support for taking values from conf, then we'll have to make a major release in astro operators to remove it.  it seems that if we document this

[2022-03-16 06:08] phanikumv opened #132 "Implement Async for DataprocSubmitJobOperator"
Implement async versions for the following operator
- [ ] [`DataprocSubmitJobOperator`](https://airflow.apache.org/docs/apache-airflow-providers-google/stable/_api/airflow/providers/google/cloud/operators/dataproc/index.html#airflow.providers.google.cloud.operators.dataproc.DataprocSubmitJobOperator)

**Acceptance Criteria**:
- [x] Unit Tests coverage in the PR (90% Code Coverage -- We will need t

[2022-03-16 08:24] raphaelauv commented on #94
I agree with you, using a K8S connection will be nicer, so let's not add this feature to the KPOA.

[2022-03-16 08:24] #94 closed

[2022-03-16 08:30] sunank200 opened #134 "Add more filter to s3 hook list_key on OSS airflow"
Issue details: [add more filter options to list_keys of S3Hook ](https://github.com/apache/airflow/issues/16627)

[2022-03-16 08:31] sunank200 commented on #134
Following [PR](https://github.com/apache/airflow/pull/22231) should close this.

[2022-03-16 08:32] #134 closed

[2022-03-16 09:01] kaxil commented on #94
Yup agreed, thank you both

[2022-03-16 14:08] sunank200 commented on #120
Both [EmrCreateJobFlowOperator](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/operators/emr.py#L265) and  [EmrAddStepsOperator](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/operators/emr.py#L41) does not require the async implementation as an Operator.

If you look at the boto3 documentation for [run_job_flow](https://boto3.amazonaws.com/v1/do

[2022-03-16 14:22] phanikumv commented on #120
Yes I agree, I think only the below sensors will take a while to run and will need async implementation

- EmrContainerSensor
- EmrJobFlowSensor
- EmrStepSensor

[2022-03-16 15:34] kaxil commented on #120
Based on https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/operators/emr.html -- agreed

[2022-03-16 17:06] #130 closed

[2022-03-16 22:00] pankajastro commented on #124
Update
-----
Push all example DAG to Cloud env => Done
Master DAG to run example => Done
Dag run summary collection => Done
SLACK message of summary => TODO

[2022-03-17 06:36] bharanidharan14 commented on #68
- Added Test case for `BigQueryTableExistenceSensor`
- Fix code coverage, mypy, doc string

Raised Draft PR https://app.zenhub.com/workspace/o/astronomer/astronomer-providers/issues/135

[2022-03-17 13:04] rajaths010494 commented on #132
DataProcSubmitJob  example dag from OSS was failing to create cluster.
Have implemented operator and trigger for the DataProcSubmitJobAsync need to do testing.

[2022-03-17 16:51] bharanidharan14 commented on #68
On `BigQueryTablePartitionExistenceSensor` async  library `gcloud.aio.bigquery.Table` doesn't functionality return the list of partition exists in the table. Table class returns only the partition column and the type of partition as dict tried to implement same as sync version but couldn't
- Did research on the `gcloud.aio.bigquery` async library and few other documentation, tried using the Datase

[2022-03-19 01:14] kaxil commented on #101
FYI: `1.1.0a2` alpha version is available for testing where you can run: `pip install astronomer-providers[cncf.kubernetes]==1.1.0a2` to just install Kubernetes provider.

Changelog: https://astronomer-providers.readthedocs.io/en/latest/changelog.html#a2-2022-03-19

We will release 1.1.0 - stable version on Monday/Tuesday.

[2022-03-21 14:35] pankajastro commented on #124
Update
------
Integrated slack alert but still need to test it.
IT ticket for slack token: #1595

[2022-03-21 21:51] kaxil commented on #120
Is this completed, I don't see a PR for the following

- EmrContainerSensor
- EmrJobFlowSensor
- EmrStepSensor

[2022-03-21 22:02] kaxil commented on #119
If we have too many issues with it, we can park it for now, or use LivyOperator as an alternative to submit Spark jobs

[2022-03-22 03:14] phanikumv commented on #68
Can you please mention the response of the API calls that you've tried to get partition information from ?

[2022-03-22 03:17] phanikumv commented on #63
@pankajastro - please confirm whether point 1 in the acceptance criteria is addressed so that we can close the story.If so, please update the ticket accordingly.

[2022-03-22 03:20] phanikumv commented on #132
As discussed, please wrap the connection call with sync_to_async and then we should be good with the development.Expecting to see a draft PR created with this change.

[2022-03-22 03:24] phanikumv commented on #122
Please refer to this https://www.notion.so/astronomerio/HiveOperator-Roblox-work-2dbfbc70418844379d7a71764fd12498 documentation to try creating a Hive connection from Airflow

[2022-03-22 03:27] phanikumv commented on #119
We've got the local connection working for the SparkSubmitOperator yesterday post further analysis. I think this is story is unblocked for now @sunank200 , @bharanidharan14 - please comment.

[2022-03-22 05:47] sunank200 commented on #120
I am working on `SparkSqlOperator` as Phani had mentioned it has a higher priority.

[2022-03-22 05:59] phanikumv commented on #120
Thats correct @kaxil , I requested Ankit and Bharani to switch over to implementing native Spark operators as part of #119 .

[2022-03-22 07:05] sunank200 commented on #119
Yes, `spark-submit` works for the deploy-mode `local`. So `SparkSubmitOperator` example dag works with local spark setup. For `SparkSqlOperator` i am setting up the hive along spark to create a table to test the example DAG.

[2022-03-22 10:23] raphaelauv opened #140 "KPOA only get the logs at the end"
**Is your feature request related to a problem? Please describe.**
with the KPOA I only get the logs at the end

**Describe the solution you'd like**
An option to get the logs at every poke of the operator

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
With the KPO it's by default

[co

[2022-03-22 10:58] pankajastro commented on #63
Parameterizion of example dag has done.
PR: https://github.com/astronomer/astronomer-providers/pull/102

[2022-03-22 10:59] #63 closed, assigned to phanikumv, pankajastro

[2022-03-22 12:32] rajaths010494 commented on #132
sync_to_async connection is done in hooks

[2022-03-23 00:16] kaxil commented on #140
Thanks for raising this, we are already working on it in Airflow with the PR you mentioned and https://github.com/astronomer/astronomer-providers/pull/139 :)

[2022-03-23 00:22] kaxil commented on #140
Once we merge the PR on Airflow side, we will release a new version of Kubernetes Provider on Airflow and then release a new version of Astronomer Providers too - 1.2.0. ETA ~1-2 weeks

[2022-03-23 03:09] wolfier opened #143 "Databricks triggerer fails to check databricks job state"
**Describe the bug**
Databricks triggerer fails to check databricks job state.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a python interpreter.
2. Run the following snippet provided a valid databricks connections and run id.
[code]

**Expected behavior**
I expect the a 200 response when provided a valid credential with run id.

[2022-03-23 03:09] wolfier commented on #143
The issue is because the authentication header is malformed.

There should not be a colon in the header.

https://github.com/astronomer/astronomer-providers/blob/1.0.0/astronomer/providers/databricks/hooks/databricks.py#L68

[2022-03-23 03:15] wolfier commented on #143
I was able to fix the issue inline.

[code]

The output is a 200.

[code]

[2022-03-23 06:14] pankajastro commented on #124
Update
-----
Integrated and tested slack alert.

[2022-03-23 07:28] phanikumv commented on #124
Getting below issue during integration test for the RedshiftPauseClusterOperatorAsync. @bharanidharan14  to check and update the status here.

`[2022-03-22, 16:38:10 UTC] {taskinstance.py:1264} INFO - Executing <Task(RedshiftPauseClusterOperatorAsync): pause_redshift_cluster> on 2022-03-22 16:36:53.839205+00:00
[2022-03-22, 16:38:10 UTC] {standard_task_runner.py:52} INFO - Started process 130 to r

[2022-03-23 07:30] bharanidharan14 commented on #119
on 7-03-2022 and 21-03-2022 Successfully Installed spark in the airflow worker to run the spark-submit job and Created the spark cluster container tried running the sample spark job via airflow worker, I was facing some issues with container resource allocation issue.
22-03-2022 Tried creating separate docker image, created spark master, worker cluster container and tried submitting the job via ai

[2022-03-23 07:33] bharanidharan14 commented on #119
Working on implementing Spark submit operator async

[2022-03-23 07:46] phanikumv opened #145 "Fix redshift sql example DAG"
Example DAG for the Async Redshift SQL operator has unlinked tasks which is causing the integration tests to fail.
Found while testing this DAG as part of #124

[2022-03-23 08:07] phanikumv commented on #145
This bug is a result of changes done as part of #63

[2022-03-23 08:19] #145 closed

[2022-03-23 08:41] bharanidharan14 commented on #124
@pankajastro @phanikumv on this issue there is `execution_timeout` parameter is fixed to 60 seconds normally the redshift cluster management operators takes more then 60seconds, so we need to increase the `execution_timeout`

Another findings:
There is one more findings
- we deleted the cluster `redshift-cluster-1` without taking the backup of the snapshot, again we created the cluster with the sa

[2022-03-23 08:43] bharanidharan14 commented on #124
On the `RedshiftSQLOperatorAsync`  example DAG was not properly aligned with task

[2022-03-23 08:45] bharanidharan14 commented on #124
@pankajastro There is dependencies of DAG because RedshiftSQLOperatorAsync and Redshiftcluster management DAG is using the same cluster details, so when the pause cluster is in executing mode and if the  RedshiftSQLOperatorAsync try to execute the it will throw error saying cluster isn't available

[2022-03-23 08:50] phanikumv opened #146 "Document Async Redshift Operator integration test findings"
Some of the findings of Integration Testing on the Async Redshift Operator are :

- While creating the cluster make sure it is created with a  unique name along with a cluster snapshot
- If it is created with previous name make sure there is a snapshot in the cluster
- Delete the cluster along with created snapshot (it is not suggested because this snapshot storage is chargeable)

We need this to

[2022-03-23 12:55] phanikumv opened #148 "Release Astronomer Providers 1.1.0"

[2022-03-23 17:48] phanikumv opened #153 "Enhance Integration Test Suite"
**Acceptance Criteria:**
- [x] Automate spinning  staging instance daily at the scheduled time from circleci so that  integration test will run on updated code
- [ ] Create and delete staging env
  - [ ] Create staging env from circleci
  - [ ] Automate creating connections(maybe through circleCI env variables or any other alternative approach) and
  - [ ] delete staging env from circle ci
- [x] R

[2022-03-24 05:17] sunank200 commented on #119
`SparkSqlOperator` requires the `spark-sql` to work when it's installed along in the docker. Right now, for deployment mode as `local`, the `SparkSqlOperator` fails as `spark-sql`  fails with the following error:

Trying to debug the issue right now and blocked on this.

[2022-03-24 05:21] phanikumv commented on #119
@sunank200  lets stop further effort on SparkSQLOperator and you can start on LivyOperator

[2022-03-24 06:47] #132 closed

[2022-03-24 11:42] kaxil opened #157 "Add limitations or differences between sync & async versions in Docs"
We should add differences of Sync version vs Async version of an Operator/Sensor in the docstrings.

For example,

- `HttpSensorAsync` will fall back to the "sync" version when `response_check` is passed
- The logs for KubernetesOperatorAsync won't be available in webserver until the task is actually completed. (which will be fixed in https://github.com/astronomer/astronomer-providers/pull/139 :)

[2022-03-24 14:26] pankajastro opened #159 "Store Databricks job_id in xcom for DatabricksSubmitRunOperatorAsync"
For DatabricksSubmitRunOperatorAsync operator storing context for submit run like `job_id`  is useful. It will provide more control to monitor created jobs in other operators. This can be also helpful in integration testing of all databricks operators.

currently, look like DatabricksSubmitRunOperatorAsync only store run_id and run_page_url incase for `do_xcom_push` param is set true

[2022-03-24 14:31] pankajastro opened #160 "CNCF KubernetesPodOperatorAsync is failing in staging Env"
KubernetesPodOperatorAsync is failing with 403 error in staging Env
[code]

[2022-03-25 06:36] bharanidharan14 commented on #119
- Added Spark submit async Operator, Trigger, Hooks
- Added Test case, Mypy, doc string

[2022-03-25 06:46] rajaths010494 commented on #122
using pyhive execute query async_ has been implemented reference -https://pypi.org/project/PyHive/
if use_beeline is set to true we need to execute using beeline checking with subprocess shell and run the query

[2022-03-25 10:52] pankajastro commented on #124
Fixed timeout issue for RedshiftPauseClusterOperatorAsync in PR https://github.com/astronomer/astronomer-providers/pull/154

[2022-03-25 10:54] pankajastro commented on #124
@bharanidharan14 Now the amazons related DAG will run in sequence PR https://github.com/astronomer/astronomer-providers/pull/136

[2022-03-25 10:54] #124 closed

[2022-03-25 11:28] bharanidharan14 commented on #68
response of the API {'kind': 'bigquery#table', 'etag': 'lrYLFzdO0tthigAMTPZxvw==', 'id': 'astronomer-airflow-providers:astro_dataset.partitioned_table', 'selfLink': 'https://www.googleapis.com/bigquery/v2/projects/astronomer-airflow-providers/datasets/astro_dataset/tables/partitioned_table', 'tableReference': {'projectId': 'astronomer-airflow-providers', 'datasetId': 'astro_dataset', 'tableId': 'p

[2022-03-25 12:49] phanikumv commented on #122
Steps to connect to Amazon Hive from airflow worker container:

- Open SSH tunnel from the airflow worker node using the below command and then airflow container would consider localhost 8158 port would be same as EMR master node 10000 port on which Amazon Hive runs.

`astro@18f56a4ee86e:/usr/local/airflow$ ssh -i /usr/local/providers_team_keypair.pem -N -L 127.0.0.1:8158:ec2-3-128-76-33.us-east-2

[2022-03-26 14:20] pankajastro opened #163 "Document Spark docker container spin up and the connection"
**Acceptance Criteria**

- [ ] Document steps for Spark docker container spin up

- [ ] Document steps to create a connection for Spark-based operator/Sensor

[2022-03-26 14:25] pankajastro opened #164 "Documentation for Hive (Local) and Amazon Hive connection"
**Acceptance Criteria**:

- [x] Documentation steps to setup Hive (Local)
- [x] Documentation steps for Amazon Hive connection

[2022-03-26 14:38] pankajastro opened #165 "Automate Redshift cluster creation"
Automate Redshift cluster creation step in example dag of operator RedshiftPauseClusterOperatorAsync and RedshiftSQLOperatorAsync. Currently, the cluster creation and cluster deletion manual i.e both examples assume that there is already a Redshift cluster running in AWS and once the example dag execution is complete someone will manually delete it or it will keep running so it makes sense to add

[2022-03-26 15:16] pankajastro commented on #165
`example_async_redshift_cluster_management` is now running standalone but for `example_async_redshift_sql` getting permission issue

[code]

[2022-03-27 05:00] pankajastro opened #167 "Databricks operator does not persist xcom values"
Databricks operator `DatabricksSubmitRunOperatorAsync` and `DatabricksRunNowOperatorAsync` does not persist xcom value for key run_id, run_page_url when do_xcom_push is set True. These operators push the values in the xcom but the values are only available for the time period when operators are running/executing as soon as the execution is complete the xcom values are not available.

[2022-03-28 06:08] phanikumv commented on #68
If the partition information is not being retrieved in gcloud aio library,  then I dont think we would be able to implement BigQueryTablePartitionExistenceSensor

[2022-03-29 07:25] bharanidharan14 opened #170 "Fix Doc string for Operator"
Fix Doc string for mypy issue id # noqa: D101 and # noqa: D102

[2022-03-29 07:25] bharanidharan14 opened #171 "Fix Doc string for Operator"
Fix Doc string for mypy issue id # noqa: D101 and # noqa: D102

[2022-03-29 07:25] bharanidharan14 commented on #171
Created PR for this
PR : https://github.com/astronomer/astronomer-providers/pull/169

[2022-03-29 07:31] bharanidharan14 commented on #146
Created PR for this task

https://github.com/astronomer/astronomer-providers/pull/172

[2022-03-29 09:31] #159 closed

[2022-03-29 11:51] pankajastro commented on #165
To create UDF in plpythonu (Python) language and run it require a special privilege because it is not a trusted language for this use case. run `select * from pg_language` in query console to list language and check trusted or not.So using plpgsql procedure and looping 500k times to delay.  https://docs.aws.amazon.com/redshift/latest/dg/r_CREATE_FUNCTION.html .

[2022-03-29 12:03] rajaths010494 commented on #122
While creating SSH tunnel from the worker node in airflow if ssh isn't present by default install the ssh using` apt install ssh`   and after once ssh is made to the hadoop when running the query if you encounter "channel 1: open failed: administratively prohibited: open failed" . Connection got refused then set the below options
These options can be found in /etc/ssh/sshd_config.
You should ensur

[2022-03-29 13:10] phanikumv commented on #122
Surprising why I didnt had to make the changes you've mentioned @rajaths010494

[2022-03-30 06:16] phanikumv commented on #171
Please include more details in the descriptions and the title, regarding which  Operator docstrings are being changed here

[2022-03-30 06:17] bharanidharan14 commented on #119
Added the changes to submit the spark submit job in execute method and getting the status from trigger

[2022-03-30 06:18] phanikumv commented on #171
Why would it be 2 story points work ? Could you please elaborate.

[2022-03-30 06:19] phanikumv commented on #165
Can you please update on the status for RedshiftSQLOperatorAsync

[2022-03-30 06:19] bharanidharan14 commented on #171
actually 2 is 2hours right?

[2022-03-30 06:21] phanikumv opened #173 "Implement Async BigQueryTablePartitionExistenceSensor"
Follow up of #68

Since the glcoud aio library doesnt retrieve partition information, we are awaiting the gcloud-aio API to get updated so that this story can be implemented.

**Acceptance Criteria:**

 Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
 Example DAG using the async Operator that can be used to ru

[2022-03-30 06:25] phanikumv commented on #68
Created a new issue #173 to track the BigQueryTablePartitionExistenceSensor

[2022-03-30 06:25] bharanidharan14 commented on #171
Fixed Doc string for Snowflake, Redshift, BigQuery, S3 operators

[2022-03-30 06:25] #68 closed

[2022-03-31 06:49] #146 closed

[2022-03-31 06:49] #165 closed

[2022-03-31 10:15] tatiana opened #176 "Refactor tests so they tear down all the tables they create in Snowflake and BQ"
**Context**
Recently we realized that the CI Snowflake schema had over 3k tables created by tests that were not automatically deleted.

We identified and deleted those by running:
[code]

We also manually cleaned the BQ namespace.

Many of these tables may be the result of legacy tests, which were not correctly dropping (there was a recent refactor to most integration tests)

**To Reproduce**

1.

[2022-03-31 15:48] raphaelauv opened #177 "Implement GKEStartPodOperatorAsync"
GKEStartPodOperator is a useful operator that retrieve at every run the config_file of a GKE thanks to gcloud cli

so you don't need to manage the update of :
- a K8S config_file
or
-  a airflow connection kubernetes_conn_id

Having a GKEStartPodOperatorAsync would be great

[2022-03-31 15:55] raphaelauv commented on #177
look like it would be necessary to edit the GKEStartPodOperator to move all the content of `execute` in a separate function `load_gke_context`

[code]

[2022-04-01 06:57] pankajastro commented on #167
Update
----
PR: https://github.com/astronomer/astronomer-providers/pull/175
- Pushing xcom values in in execute_complete() method for both DatabricksRunNowOperatorAsync and DatabricksSubmitRunOperatorAsync.
- Keeping the logic as it is in execute method so that value would be available

[2022-04-01 10:57] pankajastro commented on #120
I have started working `EmrStepSensor`

[2022-04-01 15:48] #167 closed

[2022-04-02 21:27] kaxil commented on #176
We already have the cleanup step in our example DAGs - https://github.com/astronomer/astronomer-providers/blob/main/astronomer/providers/google/cloud/example_dags/example_bigquery_queries.py

Oh, did you mean to create this issue on https://github.com/astro-projects/astro ?

[2022-04-02 21:47] kaxil opened #180 "Officially Support Python 3.10"
Once Airflow 2.3.0 (which contains support for Python 3.10) is released, we should officially support Python 3.10 too by:

- Running tests in CI with Python 3.10
- Add classified for 3.10
  https://github.com/astronomer/astronomer-providers/blob/ce7681b95848cc9b256f2484030c1e58310645fb/setup.cfg#L20-L23

[2022-04-04 06:44] phanikumv opened #182 "Certification "Airflow fundamentals" for Pankaj"

[2022-04-04 06:55] pankajastro opened #183 "Update CONTRIBUTING.rst to write integration test"
Update CONTRIBUTING.rst with acceptable example dag for integration testing

[2022-04-04 11:31] pankajastro commented on #120
PR opened `EmrStepSensor` https://github.com/astronomer/astronomer-providers/pull/184

[2022-04-04 15:46] phanikumv commented on #170
This is already fixed in #171 @bharanidharan14 , looks to be a duplicate , can you confirm ?

[2022-04-04 16:30] bharanidharan14 commented on #170
Yes @phanikumv it is a duplicate issue

[2022-04-04 18:18] #21 closed

[2022-04-04 18:18] #22 closed, assigned to nobody

[2022-04-04 18:30] kaxil opened #185 "[SPIKE/RESEARCH] Async `AzureDataFactoryPipelineRunStatusSensor`"
Research options on how to create an Async version of [`AzureDataFactoryPipelineRunStatusSensor`](https://airflow.apache.org/docs/apache-airflow-providers-microsoft-azure/stable/_api/airflow/providers/microsoft/azure/sensors/data_factory/index.html#airflow.providers.microsoft.azure.sensors.data_factory.AzureDataFactoryPipelineRunStatusSensor):

**Acceptance Criteria:**
Document possible options an

[2022-04-04 19:00] kaxil opened #186 "Implement Async `AzureDataFactoryRunPipelineOperator`"
Based on the research in https://github.com/astronomer/astronomer-providers/issues/185, add a Async version of [`AzureDataFactoryRunPipelineOperator`](https://airflow.apache.org/docs/apache-airflow-providers-microsoft-azure/stable/_api/airflow/providers/microsoft/azure/operators/data_factory/index.html#airflow.providers.microsoft.azure.operators.data_factory.AzureDataFactoryRunPipelineOperator).

[2022-04-04 19:01] kaxil commented on #100
I have separated out the following operators from this issue:

- https://github.com/astronomer/astronomer-providers/issues/186

[2022-04-04 19:31] kaxil opened #187 "[SPIKE/RESEARCH] Async `WasbBlobSensor`"
Research options on how to create an Async version of [`WasbBlobSensor](https://airflow.apache.org/docs/apache-airflow-providers-microsoft-azure/stable/_api/airflow/providers/microsoft/azure/sensors/wasb/index.html#airflow.providers.microsoft.azure.sensors.wasb.WasbBlobSensor):

**Acceptance Criteria:**
Document possible options and selection reasons for a particular library in this GitHub issue v

[2022-04-04 19:32] kaxil opened #188 "Implement Async `WasbBlobSensor `"
Async version of [`WasbBlobSensor`](https://airflow.apache.org/docs/apache-airflow-providers-microsoft-azure/stable/_api/airflow/providers/microsoft/azure/sensors/wasb/index.html#airflow.providers.microsoft.azure.sensors.wasb.WasbBlobSensor)

**Depends on https://github.com/astronomer/astronomer-providers/issues/187**

**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (80% Code Coverage

[2022-04-04 22:18] virajmparekh opened #189 "DRAFT: Add querytag to execute method of snowflake Operator"
The Openlineage adapter for Snowflake can directly read audit info. To add to the richness of the information available for queries run with Airflow, we want each query to able to be mapped back to an Airflow task.

To do this, we want the SnowflakeOperator to send back a string that contains `airflow_taskid_dagid_trynumber_TIMESTAMP`  as a [Query Tag](https://docs.snowflake.com/en/sql-reference/p

[2022-04-05 06:08] pankajkoti opened #190 "Certification "Apache Airflow DAG Authoring" for Pankaj"

[2022-04-05 06:12] pankajkoti commented on #190
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Airflow-Providers-Team-61a89ee7fbf048001dc8378d/issues/astronomer/astronomer-providers/190?planning-poker) with ZenHub @phanikumv

[2022-04-05 06:22] pankajkoti commented on #182
I have completed the certification with a score of 66/75 (88%). Took a look at the questions I answered wrong and am clear with those now.

[2022-04-05 06:22] #182 closed

[2022-04-05 06:57] phanikumv opened #191 "Implement Async HivePartitionSensor"
Create async version of HivePartitionSensor

https://airflow.apache.org/docs/apache-airflow-providers-apache-hive/stable/_api/airflow/providers/apache/hive/sensors/hive_partition/index.html?highlight=hivepartitionsensor#module-airflow.providers.apache.hive.sensors.hive_partition

**Acceptance Criteria**:

Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to

[2022-04-05 10:29] phanikumv opened #192 "Enhance logging on each async provider triggerer"
Wherever possible , make it similar to KPO Async logs, where the user gets to know the latest status of execution as the logs jump between the scheduler and the triggerer

- Show DatabricksSubmitRunJobLink on the worker log

[2022-04-05 10:58] rajaths010494 commented on #122
Pyhive library supports  async way of execute
[code]
 but doesn't return any query id or job id to poll we need to use cursor object to poll in trigger.
In trigger we cannot send cursor object since its not JSON-serializable. as they are stored in db.
Same is applicable for [cloudera/impyla](https://github.com/cloudera/impyla)

[2022-04-06 06:07] phanikumv commented on #122
Parked for now due to limitations on PyHive and Impyla libraries.
@rajaths010494 can you update the contributing guide as discussed

[2022-04-06 06:16] phanikumv commented on #129
any update on this @sunank200

[2022-04-06 06:17] phanikumv commented on #128
any update on this @pankajastro

[2022-04-06 06:35] pankajkoti commented on #190
Had started taking the course and hoping to finish the preparation course today.

[2022-04-06 07:49] pankajastro commented on #128
I have started working on this.

[2022-04-06 10:33] phanikumv opened #194 "[SPIKE/RESEARCH] Async `DatabricksSQLOperator`"
Research options on how to create an Async version of DatabricksSQLOperator:

**Acceptance Criteria:**
Document possible options and selection reasons for a particular library in this GitHub issue via a Summary comment.
Find a Python library that supports async implementation for the implementation if the official library does not support it.

[2022-04-06 10:51] pankajkoti opened #196 ""Onboarding training program" for Pankaj Koti"
**Watch**
- [ ] [Astronomer Origin story](https://www.notion.so/astronomerio/Origin-Story-5dd3dc27d0854c598b7f3f1ab4469fbd)

<br/>

**Watch team sessions**
- [ ] Vision & Strategic Plan / AMA with Joe (30 min monthly live session)
- [ ] [Product Overview](https://www.notion.so/astronomerio/Product-Leads-present-2H-2021-Product-Strategy-3a6d0ac99f8e48c59c97231b015e91e9#d76693ea83c94d38bd980619c67c9

[2022-04-06 10:52] #196 closed

[2022-04-06 10:55] pankajkoti opened #197 ""Onboarding training program" for Pankaj Koti"
**Watch**
- [ ] [Astronomer Origin story](https://www.notion.so/astronomerio/Origin-Story-5dd3dc27d0854c598b7f3f1ab4469fbd)

<br/>

**Watch team sessions**
- [ ] Vision & Strategic Plan / AMA with Joe (30 min monthly live session)
- [ ] [Product Overview](https://www.notion.so/astronomerio/Product-Leads-present-2H-2021-Product-Strategy-3a6d0ac99f8e48c59c97231b015e91e9#d76693ea83c94d38bd980619c67c9

[2022-04-06 10:55] pankajkoti opened #198 ""Onboarding training program" for Pankaj Koti"
**Watch**
- [x] [Astronomer Origin story](https://www.notion.so/astronomerio/Origin-Story-5dd3dc27d0854c598b7f3f1ab4469fbd)

<br/>

**Watch team sessions**
- [x] Vision & Strategic Plan / AMA with Joe (30 min monthly live session)
- [x] [Product Overview](https://www.notion.so/astronomerio/Product-Leads-present-2H-2021-Product-Strategy-3a6d0ac99f8e48c59c97231b015e91e9#d76693ea83c94d38bd980619c67c9

[2022-04-06 10:57] pankajkoti commented on #197
Duplicate issue created due to some Zenhub error. Duplicate issue id: https://github.com/astronomer/astronomer-providers/issues/198

[2022-04-06 10:57] #197 closed

[2022-04-06 10:58] pankajkoti commented on #196
Create an issue instead of an epic: https://github.com/astronomer/astronomer-providers/issues/198

[2022-04-06 11:00] pankajkoti commented on #190
Completed the course and finished the exam with a score of 93% (70/75). Took a look at the questions I answered wrong and understood those.
<img width="865" alt="Screenshot 2022-04-06 at 2 39 20 PM" src="https://user-images.githubusercontent.com/10206082/161960513-743006f9-a9f9-417d-9e06-faaa77c47dc5.png">

[2022-04-06 11:00] #190 closed

[2022-04-06 11:03] pankajastro commented on #190
Congratulations @pankajkoti

[2022-04-07 06:36] rajaths010494 commented on #164
[Hive local Installation and connection ](https://www.notion.so/astronomerio/Hive-Local-Installation-and-Connection-02f978a91b4d44f4a2024b05441da572)

[Amazon Hive Connection](https://www.notion.so/astronomerio/Amazon-Hive-Connections-4072a88bbb1349beaca4204ea5a8e90d)

[2022-04-07 06:39] phanikumv opened #199 "Enhance `EMRContainerSensorAsync` example DAG"
Change EMRContainerSensor example DAG to

- create EMR EKS cluster
- read virtual cluster id
- read job role arn
- run the Async EMRContainerSensor
- delete the cluster

[2022-04-07 06:41] phanikumv commented on #128
Closing as the OSS commit is merged to main

[2022-04-07 06:41] #128 closed

[2022-04-07 06:44] #176 closed

[2022-04-07 06:44] tatiana commented on #176
yes, @kaxil , sorry - wrong project

[2022-04-07 06:44] bharanidharan14 commented on #199
Add task to create virtual cluster, and delete the cluster task in example to be self sufficient DAG

[2022-04-07 10:08] pankajkoti commented on #129
Created a PR for this in apache/airflow repo: https://github.com/apache/airflow/pull/22808

[2022-04-07 10:47] #120 closed

[2022-04-07 11:05] kaxil opened #201 "Sphinx docs: Module name incorrect in API Reference"
https://astronomer-providers.readthedocs.io/en/latest/_api/amazon/aws/sensors/s3/index.html does not contain `astronomer.providers` in the module name.

<img width="754" alt="image" src="https://user-images.githubusercontent.com/8811558/162185560-7ffdfe8a-d10b-410c-ae94-9d96e97068cc.png">

[2022-04-07 11:31] phanikumv opened #202 "Deprecate `S3PrefixSensor` and `S3KeySizeSensor` in favor of `S3KeySensor`"
Refer to https://github.com/apache/airflow/pull/22737 and make changes to async versions wherever applicable

[2022-04-07 12:08] phanikumv commented on #194
Following are the steps executed to analyze this story.

- Created an SQL end point on Databricks.
![test_sql_endpoint.png](https://images.zenhubusercontent.com/61a8a7dd5f00b9eb2dba7274/62762e2f-34a2-48f0-b9d3-feb2a41a8a3e)
- Created a Databricks connection from airflow.
![databricks sql connection.png](https://images.zenhubusercontent.com/61a8a7dd5f00b9eb2dba7274/33175623-4bbf-48dd-8fe4-bd85e86d6

[2022-04-07 17:07] kaxil opened #204 "[SPIKE] Research on OpenLineage Integration"
- We want to start an initial investigation on how we can emit meta to Datakin/OpenLinage
- We will take `BigQueryInsertJobOperatorAsync` as our first operator for this and see how we can retrieve things like "data processed", "rows affected" and publish that to OpenLineage.

OpenLineage spec: [link](https://docs.google.com/document/d/1vPsvHejQ24xTbzpz_LYSf0_ixk9oUuBiEUHVEaF9J2U/edit?usp=sharing)

[2022-04-07 19:59] #201 closed

[2022-04-07 21:20] pankajastro commented on #153
Draft PR for automatic spinning staging instance https://github.com/astronomer/astronomer-providers/pull/207

[2022-04-08 09:19] phanikumv opened #208 "[SPIKE/RESEARCH] Async `HivePartitionSensor`"
Research options on how to create an Async version of HivePartitionSensor:

Acceptance Criteria:
Document possible options and selection reasons for a particular library in this GitHub issue via a Summary comment.
Find a Python library that supports async implementation for the implementation if the official library does not support it.

[2022-04-08 12:14] phanikumv opened #209 "Documentation on EMR EKS virtual cluster spin up"
Document the steps involved in creating an EMR EKS virtual cluster

[2022-04-08 12:15] phanikumv commented on #209
Documentation has been created here https://www.notion.so/astronomerio/AWS-EMR-EKS-Virtual-Cluster-spin-up-3e69f2cdc0ad4374af468a87730de70e

[2022-04-08 12:15] #209 closed

[2022-04-08 12:32] phanikumv opened #210 "Fix big query example DAG"
Due to some reason, if a task fails, then the clean up task is not being executed. Due to this resources are being left as is.
Add another task to delete the dataset and tables if they already exist at the DAG beginning.

[2022-04-08 12:40] phanikumv commented on #164
@pankajkoti please execute the steps and check whether everything is covered. We can then close this issue.

[2022-04-08 13:03] pankajkoti commented on #164
@phanikumv I have followed the steps for Amazon Hive Connection and made some minor modifications which I felt could help more. Do I also need to review Hive local installation and connection or is it reviewed by someone already?

[2022-04-08 14:29] #129 closed

[2022-04-08 15:27] #194 closed

[2022-04-08 15:28] phanikumv commented on #89
Async implementation is not possible for this due to the reason mentioned in #194

[2022-04-08 15:28] #89 closed

[2022-04-08 16:42] phanikumv commented on #164
local hive is not needed to be reviewed for now, as Amazon Hive connection is working.

[2022-04-08 16:42] #164 closed

[2022-04-10 13:13] pankajastro opened #214 "Implement CreateRedshiftCluster Operator"
It makes sense it implement a sensor/operator to create an AWS Redshift cluster.  It would help in testing the Redshift related operator and sensor without knowing any AWS interface.

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster

[2022-04-11 05:56] phanikumv commented on #119
Below operators are on hold due to connectivity issue between airflow worker container and EMR Spark
- SparkSubmitOperator
- SparkSqlOperator
- SparkJDBCOperator
- SparkKubernetesOperator

[2022-04-11 06:50] phanikumv opened #215 "Implement Async `EmrContainerOperator`"
Implement async versions for the following operator
- [ ] [`EmrContainerOperator`](https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/_api/airflow/providers/amazon/aws/operators/emr/index.html#airflow.providers.amazon.aws.operators.emr.EmrContainerOperator)

**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (90% Code Coverage -- We will need to add CodeCov separately

[2022-04-11 07:12] pankajastro commented on #153
Initially, I thought of embedding HTML code in the slack message so that I can format the report as per my wish but It does not work. Slack has its own syntax we can't format it toggle button.

- Grouping DAG will be not easy in this case.
- All DAG will trigger in parallel.
- We need to bit of testing redshift SQL and redshift SQL for this.
- Dataprocks DAG has one unused task that looks weird in

[2022-04-11 08:03] phanikumv commented on #186
Based on initial analysis, I think this should be good to implement considering that the operator returns a `job_id`

[2022-04-11 09:57] pankajastro commented on #127
Step to reproduce
- Create bigquery table having a non-string column

Query to insert data in bigquery table
[code]

task example
[code]

Error

[code]
[code]

[2022-04-11 10:51] phanikumv opened #218 "Add apache.livy in all extras and add a pre-commit hook"
Fix the pre-commit dependency check script to catch missing dependencies

[2022-04-11 10:54] kaxil commented on #218
https://github.com/astronomer/astronomer-providers/blob/main/.pre-commit-config.yaml#L103-L108 should have identified the issue but it didn't so we should fix the script

[2022-04-11 11:38] #210 closed

[2022-04-11 11:40] phanikumv commented on #126
Closing it as this is a duplicate of #127

[2022-04-11 11:40] #126 closed

[2022-04-11 12:24] rajaths010494 commented on #208
[code]

facing issue with ssh to port forward to metastore 9083 port from docker worker node

`[2022-04-11, 17:53:12 ] {standard_task_runner.py:77} INFO - Job 12: Subtask hive_partition_check
[2022-04-11, 17:53:12 ] {logging_mixin.py:109} INFO - Running <TaskInstance: example_hive_dag.hive_partition_check manual__2022-04-11T12:23:11.072146+00:00 [running]> on host 05cd5c7b2791
[2022-04-11, 17:53:1

[2022-04-11 13:13] pankajastro opened #219 "Test the timeout parameter for all the Triggers"
Test the timeout parameter for all the Triggers (see Trigger table in airflow )

[2022-04-11 14:27] #218 closed

[2022-04-12 02:38] bharanidharan14 commented on #199
https://github.com/astronomer/astronomer-providers/blob/emr_container_example_dag/astronomer/providers/amazon/aws/example_dags/example_emr_eks_containers_job.py

Need to test in staging environment

[2022-04-12 06:33] pankajastro commented on #127
PR: https://github.com/apache/airflow/pull/22936

[2022-04-12 06:36] phanikumv opened #223 "Create operator to spin up EMR EKS cluster"

[2022-04-12 06:38] pankajkoti commented on #204
Started understanding the concepts of lineage, exploring OpenLineage documentation. Next step is to watch a couple of videos for Airflow OpenLineage integration and try out a sample DAG and observe lineage in Datakin.

[2022-04-12 12:10] kaxil commented on #204
I watched the following video too which was very helpful in understanding the concepts:

- https://www.youtube.com/watch?v=LRr-ja8_Wjs

The following links were also helpful:

- https://github.com/OpenLineage/OpenLineage/tree/main/integration/airflow
- https://github.com/OpenLineage/OpenLineage/pull/508 (This will use Listener Plugin from the upcoming Airflow release 2.3 that was added in https://

[2022-04-12 13:47] rajaths010494 commented on #208
[code]

SSH connection got established but when i ran example dag started facing above issue.
Added authMechansim none and NOSASL
Tried with host and port  and also with enabled log level to debug as kaxil suggested.
It was throwing the same error in the logs.
Tired different connection types for hive with Hive client wrapper , metastore and hiveserver2 same issue persisting.

[2022-04-12 18:19] bharanidharan14 commented on #185
-  The official Azure SDK for python supports Async version implementation for AzureDataFactory, so we can make use of the official library for (PipelinesOperations, PipelineRunsOperations, Triggers, etc..)

Azure data factory aio library link: [Azure Data factory](https://docs.microsoft.com/en-us/python/api/azure-mgmt-datafactory/azure.mgmt.datafactory.aio.operations?view=azure-python)

Document

[2022-04-13 06:32] #127 closed

[2022-04-13 11:28] phanikumv opened #226 "Replace pyhive with impyla"

[2022-04-14 05:40] rajaths010494 commented on #208
The local hive installed in the airflow docker is working. Able to connect and check for partitions exists or not.
Unable to run the same on the EMR cluster (Hive).
I will start the development with a local setup and phani is looking at resolving the remote setup.

[2022-04-14 10:44] sunank200 opened #231 "LivyOperatorAsync self sufficient example DAG missing."
The example DAG for LivyOperatorAsync currently is not self-sufficient. A self-sufficient example DAG is required for that.

[2022-04-14 17:28] #231 closed

[2022-04-14 17:38] phanikumv opened #237 "Fix `LivyOperatorAsync` example DAG"
Refer to https://github.com/astronomer/astronomer-providers/pull/235 and implement additional suggestions as part of the PR

[2022-04-14 20:12] pankajastro opened #238 "LivyOperator Example DAG is broken"
[code]

[2022-04-15 15:05] ReadytoRocc opened #239 "SnowflakeOperatorAsync commits before status is received from the submitted queries."
**Describe the bug**
Currently, if `get_autocommit is True`, the `SnowflakeHookAsync` runs `conn.commit()` before status is received that the queries are complete. [Code Snippet](https://github.com/astronomer/astronomer-providers/blob/5cf53b2371240545d0fea603b03b482b64b77790/astronomer/providers/snowflake/hooks/snowflake.py#L79-L80).

**Expected behavior**
I would expect that `commit` is run once

[2022-04-17 16:15] pankajastro opened #241 "EmrContainerSensor does not respect max_retries param"

[2022-04-18 06:12] pankajastro commented on #160
Spend some time with Jed to debug this. Look like we have an old version of the helm chart on staging env. So as the next step we shall upgrade the staging env with an updated helm chart.

[2022-04-18 07:14] pankajkoti commented on #204
Was able to write a custom extractor for the `BigQueryInsertJobOperatorAsync` operator. However, the common util implementation from OpenLineage is not dumping statistics as expected. Will sync up with Maciej on Tuesday once he is back from vacation to check what is happening wrong. Although I believe this is an issue on OpenLineage implementation, I will try to debug and confirm this.

[2022-04-18 10:07] pankajastro opened #243 "Add base trigger for Emr"
Add a base trigger for EmrContainerOperatorAsync, EmrContainerSensorAsync and reuse the code

[2022-04-18 16:12] pankajkoti commented on #198
Gone through most of the check list items. Closing the issue as the remaining ones can be taken on the fly as and when needed.

[2022-04-18 16:12] #198 closed

[2022-04-19 06:42] rajaths010494 commented on #208
After we used the same hive library on the airflow image we were able to have an SSH connection to the remote EMR cluster and successfully run the sync hive partition sensor.

[2022-04-19 06:42] #208 closed

[2022-04-19 09:43] rajaths010494 commented on #191
Implemented Hooks, sensor and triggers. Integration testing is done. Will be raising a draft PR

[2022-04-19 10:17] pankajastro opened #246 "[Integration Tests]:Increase execution timeout for example dag"
Since the number of example dag is increasing we will have to increase execution in order to run it as an integration test. the current execution time is 30 min

[2022-04-19 11:21] pankajkoti commented on #204
The DAG runs fine now, but still the extractor is not extracting relevant metrics as expected. We are getting the below error from OpenLineage implementation and Maciej Obuchowski from GetInData (Datakin's consultancy agency) said he will create an issue for it and work on fixing it:

[code]

[2022-04-19 12:37] phanikumv commented on #208
used impyla library to implement HivePartitionSensor as pyhive is no longer supported

[2022-04-19 12:39] phanikumv opened #248 "[SPIKE/RESEARCH] Async `NamedHivePartitionSensor `"
**Acceptance Criteria:**
Document possible options and selection reasons for a particular library in this GitHub issue via a Summary comment.

Find a Python library that supports async implementation for NamedHivePartitionSensor if the official library does not support it.

Ensure that connection is set up and working

[2022-04-19 12:41] phanikumv commented on #238
Not an issue, as the required variable is not created before the operator is executed.

[2022-04-19 12:41] #238 closed

[2022-04-19 16:18] denimalpaca commented on #189
Note on how this may work:

In the `execute()` method of the `AsyncSnowflakeOperator`, a line of SQL will be added to the query that would look something like: `ALTER SESSION SET query_tag = 'airflow_taskid_dagid_trynumber_TIMESTAMP'`; this sets the query tag at the session level (which is preferable in this case to the user or account level).

[2022-04-20 07:53] pankajastro commented on #186
I have started working on this

[2022-04-20 11:00] pankajastro commented on #215
PR
https://github.com/astronomer/astronomer-providers/pull/234

[2022-04-20 11:02] pankajastro commented on #153
PR: https://github.com/astronomer/astronomer-providers/pull/244

[2022-04-20 12:16] pankajkoti commented on #246
@pankajastro had already started working on it and has a PR open for it: https://github.com/astronomer/astronomer-providers/pull/249#pullrequestreview-947053876

Hence, assigning the issue to @pankajastro

Also, Pankaj Singh and I had a session today where he explained me our deployment and runtime architecture for these example DAGs. Thank you so much for that @pankajastro

[2022-04-20 17:07] ReadytoRocc commented on #239
Team, wanted to note that enforcing [`autocommit`](https://github.com/astronomer/astronomer-providers/blob/1.2.0/astronomer/providers/snowflake/hooks/snowflake.py#L57) to be `True` should ensure that this happens in the same session. In this case, we would need to use the context manager of the underlying Snowflake connection. In the connection's [`__exit__`](https://github.com/snowflakedb/snowfla

[2022-04-21 05:59] #215 closed

[2022-04-21 06:39] #199 closed

[2022-04-21 06:42] rajaths010494 commented on #191
Ci builds were failing  added run to install build-essentials and  libsasl2-dev to install sasl library need for hive library.
The test case for connect for the hive is failing in container trying to mock impyla library.

[2022-04-21 06:48] phanikumv commented on #153
Pending: Enable deployment to astro-cloud, rest of the changes needed are done.

[2022-04-21 06:50] phanikumv commented on #246
This change is completed

[2022-04-21 06:50] #246 closed

[2022-04-21 06:50] bharanidharan14 commented on #98
Raised Draft PR
https://github.com/astronomer/astronomer-providers/pull/253

- Add async Sensor, Hook, Trigger
- Add Example Dag
- Add unit Test case
- cover code coverage above 95%
- cover mypy
- Add doc string

[2022-04-21 06:51] phanikumv opened #254 "Upgrade staging airflow version"
- Make changes to use new airflow image in our staging deployment.
- Enable multi stage deployment

[2022-04-21 06:54] bharanidharan14 commented on #98
working on the self sufficient DAG to create pipeline and remove script for data factory, group, storage. currently it has creating script for

- creating resource group and if not present
- creating  Data factory
- create storage linked service
- create blob dataset(input, output)

[2022-04-21 07:58] pankajkoti commented on #204
The activity is blocked on issue: https://github.com/OpenLineage/OpenLineage/issues/649 and has an open PR being worked upon by Maciej https://github.com/OpenLineage/OpenLineage/pull/691

The action items post this are:
1. Test E2E with the changes in the above PRs
2. Once E2E test works with no additional issues, address review comments on https://github.com/astronomer/astronomer-providers/pull/2

[2022-04-21 10:23] pankajkoti opened #255 "Change AWS region to us-east-2"
We want to create all AWS resources across our example DAGs in a single region 'us-east-2'.

Make needed code changes for the same.

[2022-04-21 11:02] kaxil commented on #239
This might not be possible as the Query is submitted with `autocommit` on the worker and the control goes to Trigger and back to worker. In this case, it is not possible to preserve the "Connection"/Transaction

[2022-04-21 11:14] #255 closed

[2022-04-21 11:24] pankajkoti opened #257 "Fix failing example_emr_eks_pi_job example DAG"
The example_emr_eks_pi_job is failing as part of our intergration tests run.
As part of the investigation logs, the shell script Bash Operator seems to having some errors not being raised up and letting the task state shown to be successful.
Understand the DAG, debug the issue across tasks in the DAG and make it working.

[2022-04-21 11:32] #237 closed

[2022-04-21 13:42] pankajastro commented on #186
PR https://github.com/astronomer/astronomer-providers/pull/258

[2022-04-21 14:55] rajaths010494 commented on #191
Dev and Uint tests are done.
In self-sufficient dag to create a dynamic connection to the EMR cluster is not happening properly.
Looking into that and trying to get a dynamic connection up and running

[2022-04-21 18:14] bharanidharan14 commented on #98
Finished with self sufficient DAG

created resource group and if not present,  Data factory,  storage linked service, blob dataset(input, output) via script and run the pipeline and delete whatever resource is been created via script

[2022-04-22 05:31] rajaths010494 commented on #191
Self sufficient dag is working fine with dynamic connection from EMR cluster.

[2022-04-22 06:11] pankajkoti commented on #257
Have set failure raise for shell script in the PR: https://github.com/astronomer/astronomer-providers/pull/259

However, cloud formation template is not succeeding with below failure reason:
` AWS::EKS::Nodegroup/ManagedNodeGroup: CREATE_FAILED – "Resource handler returned message: \"[Issue(Code=AsgInstanceLaunchFailures, Message=You've reached your quota for maximum Fleet Requests for this accoun

[2022-04-22 06:25] phanikumv commented on #185
@bharanidharan14 I have requested this to be closed yesterday

[2022-04-22 06:36] #185 closed

[2022-04-22 06:38] phanikumv commented on #254
@pankajastro please update with the latest status on this.

[2022-04-22 06:46] #98 closed

[2022-04-22 08:07] pankajkoti commented on #257
Adding @bharanidharan14 as assignee too as he is trying this on his local.

[2022-04-22 09:06] phanikumv commented on #44
Did a quick POC and was able to launch aws-nuke on our AWS account, as shown below. Next step is to integrate it with our staging airflow instance and run it daily at specified period of the day.

``
(base) phanikv@Phanis-MacBook-Pro nuke % ./aws-nuke-v2.17.0-darwin-amd64 -c config.yml --profile default
aws-nuke version v2.17.0

Do you really want to nuke the account with the ID 475538383708 and t

[2022-04-22 09:20] #191 closed

[2022-04-22 09:40] #186 closed

[2022-04-22 15:02] phanikumv opened #265 "Fix HivePartitionSensor example DAG"
- Change the docker file to copy the hive,  hadoop binaries and JDK 8 to airflow worker
- Deploy on staging and test the DAG end to end

[2022-04-24 10:08] pankajastro commented on #254
staging instances work only with airflow image i.e `ap-airflow:x.y.z`
astro-cloud instances work only with runtime image i.e `astro-runtime:z.y.x`
Initial PR: https://github.com/astronomer/astronomer-providers/pull/245
Final fix: https://github.com/astronomer/astronomer-providers/pull/244

[2022-04-24 10:08] #254 closed

[2022-04-24 11:18] pankajastro opened #266 "Teardown testing instance"
Currently, our testing instance keeps running so it makes sense to explore the tradeoff between keeping it running and teardown and setup it up daily.

- If we tear it down, we will lose the log which is helping us in figuring out reasons in more detail for a task being failed.
- We will have to keep all connection related information in CircleCI and create an Astro variable from these variables u

[2022-04-24 13:45] pankajastro opened #267 "Rename Microsoft ADF task in Example DAG"
Rename tasks (*with_wait, and with_nowait) names in Azure Data factory DAG
Microsoft ADF task in Example DAG : astronomer-providers/astronomer/providers/microsoft/azure/example_dags/example_adf_run_pipeline.py

[2022-04-25 05:28] phanikumv commented on #153
Implementing pending tasks in #266

[2022-04-25 05:28] #153 closed

[2022-04-25 06:51] #267 closed

[2022-04-25 07:46] pankajastro opened #270 "Fix nocast branching logic in BigQueryGetOperatorAsync"
Remove serialize vs non serialize branching logic in BigQueryGetOperatorAsync
Remove nocast branch

https://github.com/astronomer/astronomer-providers/blob/b6179f19ec8a36a2f3d1c4894179e01ffd729244/astronomer/providers/google/cloud/hooks/bigquery.py#L126

[2022-04-25 07:47] pankajastro opened #271 "Remove return statements in the Trigger"
Remove return statements in the Trigger(across the repository)

[2022-04-25 08:37] phanikumv opened #272 "Migrate providers team AWS users to OKTA"
The users via SSO are maintained centrally in OKTA. We can create a single user for "Providers Integration Test", the access key for which we can use in our Staging env and Gen2 Cloud so we can isolate the application usages.

In absence of this, the access keys that we use in our integration test are associated with a "IAM User account".

[2022-04-25 08:41] pankajkoti commented on #272
Please let me know once this is done. I can take care of updating the required variables & connection settings with the new credentials on Staging environment for our integration tests.

[2022-04-25 10:01] pankajastro commented on #267
PR: https://github.com/astronomer/astronomer-providers/pull/269

[2022-04-25 10:03] pankajastro commented on #270
I believe this will require airflow 2.3.0

[2022-04-25 11:09] phanikumv opened #274 "Integration DAG's : Test in astro-cloud"
- Create an astro-cloud instance
- Run the deployment
- Execute all the integration DAG

[2022-04-25 11:10] phanikumv opened #275 "Build Async HivePartitionSensor & NamedHivePartitionSensor with GSSAPI (Kerberos authentication)"
Make a hive connection with `auth_mechansim=GSSAPI` and bring up EMR cluster with kerberos enabled. Connect to hive and check whether a partition exists in the EMR cluster or not.

[2022-04-25 12:22] phanikumv opened #276 "[SPIKE/RESEARCH] `Azure Functions` and `Azure Service Bus`"
Acceptance Criteria:
Document possible options and selection reasons for a particular library in this GitHub issue via a Summary comment.
Find a Python library that supports **Synchronous** implementation for [Azure functions](https://azure.microsoft.com/en-in/services/functions/) and [Azure Service Bus ](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-overview)

[2022-04-25 12:33] phanikumv opened #277 "Implement Hive Async `NamedHivePartitionSensor `"
Implement Async `NamedHivePartitionSensor`

- [NamedHivePartitionSensor](https://airflow.apache.org/docs/apache-airflow/1.10.5/_api/airflow/sensors/named_hive_partition_sensor/index.html
)

**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [ ] Example DAG using the async Operator

[2022-04-25 16:39] rajaths010494 commented on #265
Could not open connection to the HS2 server. Please check the server URI and if the URI is correct, then ask the administrator to check the server status.
Error: Could not open client transport with JDBC Uri: jdbc:hive2://ec2-18-222-146-86.us-east-2.compute.amazonaws.com:10000/default;auth=none: java.net.ConnectException: Connection timed out (Connection timed out) (state=08S01,code=0)
beeline> No

[2022-04-25 18:14] bharanidharan14 commented on #239
Current Async implementation creates a sync connection execute queries, gets the query ids and close the connection, to poll for the query status, trigger creates async connection and polls for the status by query id, snowflake allows to submit the query from one connection and retrieves the results from a different connection, So as  per @kaxil  comment it may not be possible to submit the query

[2022-04-25 18:43] denimalpaca commented on #189
@rossturk @julienledem and I had a conversation about this query tag work -- we had a thought about moving the SQL statement to alter session into the Snowflake Hook if possible. This would allow the query tag to work for every Snowflake Operator variant (Async, Check, etc...) and provide information to OpenLineage even if the user is using the PythonOperator. Additionally, the query tag could be

[2022-04-26 05:30] pankajastro commented on #214
PR https://github.com/apache/airflow/pull/23186

[2022-04-26 06:03] rajaths010494 commented on #265
RUN apt-add-repository 'deb http://security.debian.org/debian-security stretch/updates main'
RUN apt-get update && apt-get install -y openjdk-8-jdk
used openjdk-8-jdk to install and openjdk issue is resolved.
Ran the pipeline it's working fine.
Will be raising the PR today.

[2022-04-26 06:43] #214 closed

[2022-04-26 06:57] pankajkoti commented on #257
@dstandish suggested to try a smaller instance. But, we still are facing the same issue. He further suggested to check with @danielhoherd and/or speak to AWS. I will connect with @danielhoherd and check if he can help us here. Parallelly, I have created an AWS case for our account: https://us-east-1.console.aws.amazon.com/support/home?region=us-east-2#/case/?displayId=9973194951&language=en

[2022-04-26 07:50] pankajkoti opened #279 "Fix Redshift example DAG"
1.Replace `create_redshift_cluster` in the example DAG with the CreateRedshiftClusterOperator

2.I see the `delete_redshift_cluster_snapshot` task of the DAG has always raised an Exception on a daily basis but we're catching that in the code and as a result the task is getting marked success. Below is the exception,

[code]

We need to fix these by reraising exceptions in the below PythonOperator

[2022-04-26 14:29] danielhoherd commented on #257
I don't have any special knowledge about this. The error seems pretty clear though: "You've reached your quota for maximum Fleet Requests for this account." My first step would be to make that request that @pankajkoti made.

We've run into this kind of thing in prod-cloud in GCP, and requesting an increase is the only solution.

[2022-04-26 14:29] #265 closed

[2022-04-27 09:29] pankajkoti opened #281 "Check for usage of Git sync of DAGs on staging and astro cloud"
Reach out to @MatrixManAtYrService to understand how their team uses Git sync and plan
next set of actions so that we can test our example DAGs quickly on staging and Astro cloud
rather than having to build and deploy Docker images for development activities.

[2022-04-27 10:43] phanikumv opened #282 "Fix code duplication in integration test docker file"
There is duplicate code in the integration test docker file where same code is being repeated in the base airflow image and astro run time image section. This issue will address this and come up with a solution.

[2022-04-27 19:34] pankajastro opened #284 "Fix example docs tag"
Some example has a typo i.e it has a start tag instead of end tag

[2022-04-28 05:24] bharanidharan14 commented on #239
@ReadytoRocc on this issue did further investigation, I have tried few steps.
- creating connection in operator and send to it hook, execute the query get the query_id back
- once the query id is available send the query id and connection object to Trigger, the connection is `None` in trigger because we can't send a class or connection object to the trigger, since it is not a JSON serialisable.
 A

[2022-04-28 05:40] bharanidharan14 commented on #276
Started working on the Azure service bus, installed the package
-` pip install azure-servicebus`
-` pip install azure-identity`
Running the sample sync code version

[2022-04-28 06:35] #239 closed

[2022-04-28 07:19] phanikumv opened #286 "Optimize resource usage in Databricks example DAG"

[2022-04-28 07:46] #286 closed

[2022-04-28 08:06] #284 closed

[2022-04-28 12:45] pankajastro commented on #248
The implementation pattern for this sensor is very similar to `HivePartitionSensor`
Tested the sync version example
We have decided to use `impala`

[2022-04-28 12:45] #248 closed

[2022-04-28 14:35] MatrixManAtYrService commented on #281
I set this up with the OSS Airflow helm chart before it was implemented in astro cloud, so I don't know where all the buttons are to do it with the astrocloud.  But I'm thinking that the UI must prompt for most of these values to get the job done.

[code]

Once you get in syncing at all, you can get a shell on the scheduler container and poke around until you have a feel for where your dags actual

[2022-04-29 05:44] bharanidharan14 commented on #276
Tried out few examples in service bus and azure functions, captured few in nation page
Notion page link:
Service Bus: https://www.notion.so/astronomerio/Azure-Service-Bus-130e1721f68f4526b20d081798dd66da
Azure Functions: https://www.notion.so/astronomerio/Azure-Functions-f249d866785b43fdb5610c25088e3e1e

[2022-04-29 06:36] pankajkoti commented on #204
The issue is resolved and I am able to get expected extractor event after introducing Maciej's change in my POC PR.

A sample event looks like the following:
`{
    "eventTime": "2022-04-29T05:23:41.450000Z",
    "eventType": "COMPLETE",
    "inputs": [
        {
            "facets": {
                "dataSource": {
                    "_producer": "https://github.com/OpenLineage/OpenLineage/tre

[2022-04-29 06:36] #204 closed

[2022-04-29 06:43] pankajkoti opened #289 "Add implementation for OpenLineage custom extractor for BigQueryInsertJobOperatorAsync"
Acceptance criteria

- [ ] Extract BigQueryInsertJobOperatorAsync as OpenLineage Event
- [ ] Modify existing unit tests to accommodate for the change due to new implementation
- [ ] Add unit tests for the custom extractor

[2022-04-29 09:29] pankajkoti opened #291 "Fix failing Databricks tests"
Following tests for Databricks are failing and observed in a non-related PR: https://github.com/astronomer/astronomer-providers/pull/290

1. test_databricks_submit_run_operator_async
`
tests/databricks/operators/test_databricks.py:59: in test_databricks_submit_run_operator_async
    operator.execute(context)
astronomer/providers/databricks/operators/databricks.py:32: in execute
    context["ti"].x

[2022-04-29 20:00] pankajastro opened #294 "[POC] Improve unit test quality"
Investigate how we can make the unit tests more readable and reusable.

- class-based test (This will help to group tests together in a better way)
- util module inside test which will have all shared function/method
- move third party api mocked response to util so that it can be shared between tests (example: https://github.com/astronomer/astronomer-providers/blob/main/tests/amazon/aws/hooks/tes

[2022-05-02 07:06] pankajkoti opened #295 "Add missing await on sleep coroutine in Hive hook connection"
MyPY release a new version recently 0.950 which has rightly pointed out that
we're missing an await on asyncio.sleep coroutine in our Hive connection hook
module.
The fix should add an await for the same.

[2022-05-02 07:40] pankajkoti commented on #291
PR #292 merged.

[2022-05-02 07:40] #291 closed

[2022-05-02 09:10] pankajkoti commented on #274
We have moved the DAGs on Astro Cloud. However, a few DAGs are failing with limited error details. Need to investigate the errors.
Additionally, we're also missing credentials for Azure DAGs which need to be taken from @bharanidharan14

[2022-05-02 09:43] #274 closed

[2022-05-02 09:49] phanikumv opened #298 "Livy example DAG failing"
livy_java_task is failing with below error.

`[2022-05-02, 09:43:01 UTC] {livy.py:151} INFO - Submitting job {"file": "/spark-examples.jar", "className": "org.apache.spark.examples.SparkPi", "numExecutors": 1, "conf": {"spark.shuffle.compress": "false"}} to
[2022-05-02, 09:43:01 UTC] {base.py:68} INFO - Using connection ID 'livy_default' for task execution.
[2022-05-02, 09:43:01 UTC] {http.py:129}

[2022-05-02 09:56] phanikumv opened #299 "AWS resource naming conventions"
This issue should fix the  cluster names created by our example DAG's

example_s3_sensor and example_emr_sensor  - creates cluster name "PiCalc"
example_livy_operator - creates cluster name "team-provider-example-dag-livy-test"
example_hive_dag - creates cluster name "team-provider-example-dag-hive-test"

[2022-05-02 12:55] pankajkoti opened #300 "Upgrade base Airflow images to latest version"
With respect to the recent Airflow release:
https://github.com/astronomer/astro-runtime/blob/main/CHANGELOG.md#500-2022-04-30
and https://airflow.apache.org/docs/apache-airflow/2.3.0/release_notes.html#airflow-2-3-0-2022-04-30,
upgrade the base image in Dockerfiles to the following versions:
1. ap-airflow:2.2.5 -> ap-airflow:2.3.0
2. astro-runtime:4.2.4-base, astro-runtime:4.2.6-base -> astro-runt

[2022-05-02 15:27] #295 closed

[2022-05-02 17:11] pankajkoti opened #302 "Fix mypy issues and fix failing tests"
The context argument has been declared with type Dict[str, Any].
However, with the new release of mypy 0.950 it has started complaining
that the type should be Context in alignment with the base classes.

Some tests are failing for BigQuery Operator due to change in error messages.
Update check for error message text to fix those failing tests.

[2022-05-02 18:19] phanikumv commented on #257
- We are not sending the VIRTUAL_CLUSTER_ID to the `example_delete_eks_cluster_and_role_policies` shell script from the DAG. Due to this, if a virtual cluster already exists the delete shell script isn't cleaning up properly.

`[2022-05-02, 17:42:13 UTC] {subprocess.py:74} INFO - Running command: ['bash', '-c', 'sh $AIRFLOW_HOME/dags/example_delete_eks_cluster_and_role_policies.sh ']
[2022-05-02,

[2022-05-03 23:37] kaxil opened #304 "Add missing docstrings for some of the Triggers"
We don't have docstrings for the following Triggers

[code]

[2022-05-03 23:37] kaxil commented on #304
We should fix this and get it in 1.3.0 - @phanikumv

[2022-05-04 06:23] pankajastro opened #307 "Use consistent method to fetch env variable Value"
we should either use `os.environ.get` or `os.getenv` across the repo to fetch the env variable value, not both

[2022-05-04 06:24] pankajkoti commented on #307
I would have a slight preference towards using os.getenv if everyone agrees to it.
No specific reason, just less characters.

[2022-05-04 06:26] pankajastro commented on #307
Ok, I'll make it to use `os.getenv`

[2022-05-04 06:41] rajaths010494 commented on #275
Created kerberos security configuration in aws to bring up EEMR cluster.
Was able to make local connection from EMR cluster using  kerberos auth and connect to hive database.
Remote connection from airflow docker is failing.
Kerberos conf which are present in EMR cluster has to be added to airflow docker and also the token needed.
Will be adding and creating token in the airflow image.

[2022-05-04 06:49] #271 closed

[2022-05-04 07:29] #302 closed

[2022-05-04 07:32] #307 closed

[2022-05-04 10:02] #300 closed

[2022-05-04 10:33] #289 closed

[2022-05-05 01:43] bharanidharan14 opened #310 "Implement synchronous Azure Service Bus Queue Operators"
Implement synchronous Azure service bus queue operators
- [x] CreateQueueOperator
- [ ] UpdateQueueOperator
- [x] DeleteQueueOperator
- [ ] GetQueueRuntimePropertiesOperator
- [x] SendQueueMessageOperator(single message, list of message, batch message)
- [x] ReceiveQueueMessageOperator

- [x] Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to measure code

[2022-05-05 10:57] #257 closed

[2022-05-05 15:19] rajaths010494 commented on #275
created new principal and created a token using kinit to make connection to kdc server and enabled 88 port for kdc database.

[2022-05-06 03:52] bharanidharan14 commented on #310
Created operator for the following
- [ ] CreateQueueOperator
- [ ]  UpdateQueueOperator
- [ ]  DeleteQueue
- [ ] GetQueueRuntimePropertiesOperator

currently working on Integration testing and test case

[2022-05-06 05:28] phanikumv commented on #272
This is completed . Created a service account providers-integration-test, and ensured that there are no permission issues in any of existing DAG

[2022-05-06 05:28] #272 closed

[2022-05-06 05:32] #277 closed

[2022-05-06 06:29] phanikumv commented on #44
AWS nuke ran fine on staging, need to check why it is failing on astro-cloud

[2022-05-06 06:45] phanikumv opened #312 "Implement async Azure Service Bus Queue Operators"

[2022-05-06 06:47] phanikumv commented on #312
@bharanidharan14 please update this ticket with the async operators that we can create based on your analysis

[2022-05-06 07:43] phanikumv opened #314 "Release activities for 1.3.0"
Update setup.cfg, docs/conf.py and CHANGELOG.rst with the changes pertaining to release 1.3.0

[2022-05-06 10:53] phanikumv opened #320 "Fix S3 trigger unit tests"
`=================================== FAILURES ===================================
______________________ test_s3_key_trigger_run_exception _______________________
tests/amazon/aws/triggers/test_s3_triggers.py:55: in test_s3_key_trigger_run_exception
    assert TriggerEvent({"status": "error", "message": "Unable to locate credentials"}) == actual
E   assert TriggerEvent<{'status': 'error', 'message

[2022-05-06 10:56] #320 closed, assigned to phanikumv

[2022-05-06 13:11] pankajkoti opened #321 "Check try/except blocks"
Currently, we're catching few exceptions in our tasks as part of our example DAGs.
Such exceptions caught do log the exceptions but return None. As a result,
the task is getting marked as success/green and the downstream tasks fail
due to missing resources of this previous task outcome.
Fix such exceptions caught to rightly reflect the status of the tasks.

[2022-05-06 13:24] #304 closed

[2022-05-06 14:44] bharanidharan14 commented on #312
We can implement managment, message related functionality. we can update the Async operator list
## Async Operators

**Queue**

- SendQueueMessageOperator(single message, list of message, batch message)
- ReceiveQueueMessageOperator

**Topic**

- SendTopicMessageOperator(single message, list of message, batch message)

**Subscription**

- ReceiveBatchMessageOperator

**Rule**

- CreateRuleWithSQLF

[2022-05-06 14:48] bharanidharan14 commented on #276
Updated the list service bus Async operators in the notion page

https://www.notion.so/astronomerio/Azure-Service-Bus-130e1721f68f4526b20d081798dd66da

[2022-05-06 15:40] #241 closed

[2022-05-06 15:50] denimalpaca opened #322 "Add Firebolt Provider"
**Is your feature request related to a problem? Please describe.**
The Firebolt team is interested in a deeper partnership with Astronomer, including the creation of astronomer-provider operators.

**Describe the solution you'd like**
Work with the Firebolt team to develop operators that would fall under the astronomer-providers library.

**Describe alternatives you've considered**

**Additional c

[2022-05-06 19:46] #180 closed

[2022-05-07 13:35] pankajastro opened #328 "Add `RedshiftDeleteClusterOperator` support"
Add `RedshiftDeleteClusterOperator` in apache airflow to support an end to end operation on the redshift cluster from cluster creation to deletion

[2022-05-09 08:45] pankajastro commented on #328
PR https://github.com/apache/airflow/pull/23563

[2022-05-09 09:58] phanikumv commented on #44
AWS nuke ran fine on astro-cloud #323

[2022-05-09 12:17] phanikumv opened #330 "[SPIKE/RESEARCH] Approach for building extractors"
Reference documents:
Document shared from @julienledem https://docs.google.com/document/d/1vPsvHejQ24xTbzpz_LYSf0_ixk9oUuBiEUHVEaF9J2U/edit

Document drafted by @pankajkoti for discussing the approach: https://docs.google.com/document/d/1xNgOXUeOy25C0zi-NPkxdavk_lTq394TgjhelHJRrBM/edit

[2022-05-09 16:24] #314 closed

[2022-05-10 05:05] bharanidharan14 commented on #310
Testing the operator with example DAG, got stuck with some dependencies, resolved it and able to run the example DAG with the operators

[2022-05-10 06:13] rajaths010494 commented on #275
Tried to create airflow principal using [doc](https://airflow.apache.org/docs/apache-airflow/stable/security/kerberos.html)
airflow kerberos is unable to generate or renew tokens.
Have posted in the apache community for the error.

[2022-05-10 07:03] pankajkoti commented on #298
The issue is no longer observed. Closing this ticket. Can reopen for investigation if we observe it again.

[2022-05-10 11:11] pankajkoti opened #337 "AWS nuke fails to delete EKS cluster"
AWS nuke run starts fine but when trying to delete EKS cluster it fails with the below error.

`
[2022-05-10, 09:30:13 UTC] {subprocess.py:92} INFO - Removal requested: 0 waiting, 1 failed, 57 skipped, 4 finished
[2022-05-10, 09:30:13 UTC] {subprocess.py:92} INFO -
[2022-05-10, 09:30:19 UTC] {subprocess.py:92} INFO - us-east-2 - EKSCluster - providers-team-eks-cluster - [CreatedAt: "2022-05-07T00:

[2022-05-10 11:55] #299 closed

[2022-05-10 16:49] rajaths010494 commented on #275
If the 'renew until' date is the same as the 'valid starting' date, the ticket cannot be renewed. Please check your KDC configuration, and the ticket renewal policy (maxrenewlife) for the 'airflow/55f82385b5ae' and `krbtgt' principals.
Able to create the airflow cache in /tmp but renewal is not happening properly.

[2022-05-10 17:39] rajaths010494 commented on #275
https://www.notion.so/astronomerio/Hive-Kerberos-Setup-dfdcb25caa1e4a7fab8fea13d1654866

[2022-05-11 04:47] bharanidharan14 commented on #310
Pushed the code to repo branch [azure-servicebus-queue-operators](https://github.com/astronomer/airflow/tree/azure-servicebus-queue-operators)

[2022-05-11 07:58] #321 closed

[2022-05-11 15:09] rajaths010494 commented on #275
Trying out using bash operator to `kinit `the token rather than using `airflow kerberos` and try to run the hive sensor in the example dag.

[2022-05-12 06:29] #328 closed

[2022-05-12 06:50] #337 closed

[2022-05-12 08:17] #298 closed

[2022-05-12 08:19] pankajkoti commented on #160
@pankajastro Probably we can close this issue now as it works fine on Astro cloud.

[2022-05-12 08:30] pankajastro commented on #160
hmm, we can close it, regarding updating staging Viswash has recommended to use dev or QA cluster

[2022-05-12 08:48] pankajkoti commented on #160
Okay, we have disabled master DAG run on `staging`. And since it runs fine on Astro cloud, I believe it is an infra issue on `staging` and no changes need to be done on the code. So, I will close the issue now.
cc: @phanikumv

[2022-05-12 08:48] #160 closed

[2022-05-12 15:00] rajaths010494 commented on #275
We were able to run airflow kerberos with settings change to include_ip = false and run the sync dag successfully.
Now trying to connect to impala library to use kerberos auth mechanism to connect and execute the functionality.

[2022-05-13 05:51] bharanidharan14 opened #346 "Implement Azure Service bus subscription Operators"
- [x] CreateSubscriptionOperator
- [x] DeleteSubscriptionOperator
- [x] UpdateSubscriptionOperator
- [x] ReceiveMessageSubscriptionOperator
- [x] Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [x]  Example DAG using the sync Operator that can be used to run Integration tests that are parametrized via Enviro

[2022-05-13 06:51] phanikumv commented on #279
The delete cluster task shouldnt raise the below exception after cluster is deleted

`[2022-05-13, 06:41:32 UTC] {example_redshift_sql.py:41} INFO - {'Clusters': [{'ClusterIdentifier': 'astro-providers-cluster', 'NodeType': 'dc2.large', 'ClusterStatus': 'deleting', 'ClusterAvailabilityStatus': 'Modifying', 'MasterUsername': 'awsuser', 'DBName': 'astro_dev', 'Endpoint': {'Port': 5439}, 'ClusterCrea

[2022-05-16 06:35] pankajkoti opened #350 "OpenLineage extractor failing; hook not getting attached to the operator"
[code]

We're observing a new issue where the hook seems to be not getting attached to the operator.

[2022-05-16 06:38] bharanidharan14 commented on #310
https://github.com/apache/airflow/pull/23717

[2022-05-16 06:43] pankajkoti opened #351 "Tasks failing without writing any logs"
Some tasks are failing without writing any logs.

Possible reason might be
Imports of heavy libraries at module level might cause DAG processing timeout errors.
To avoid this, we need to delay of imports to the specific operator scope.

Reference: https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html#top-level-python-code

However we need to investigate in detail.

[2022-05-16 10:33] #279 closed

[2022-05-16 10:52] phanikumv commented on #276
@bharanidharan14 please close this in case your research is done.

[2022-05-16 12:33] phanikumv opened #353 "Update OSS documentation with findings on the Hive Kerberos connection"

[2022-05-16 12:35] phanikumv commented on #322
Hi @denimalpaca - just wanted to know which operators can we plan initially, do we have a Firebolt instance set up somewhere which the provider’s team can access?

[2022-05-16 13:38] rajaths010494 commented on #275
Able to connect to EMR hive cluster using impala library run with Kerberos and plain mechanism successfully.

[2022-05-17 03:38] pankajkoti opened #355 "Redshift cluster management DAG delete cluster task failing"
Seeing this error
[code]

[2022-05-17 05:51] bharanidharan14 opened #356 "Azure service bus Topics"

[2022-05-17 05:55] bharanidharan14 commented on #346
Implemented CreateSubscriptionOperator, DeleteSubscriptionOperator

[2022-05-17 12:53] phanikumv opened #358 "Implement async AWS BatchOperator"
It will help one of our Customers. It sounds like their DAGs will have ~1500 tasks each, majority of which will be batch operators. They have concerns about spinning up too many workers to run these DAGs and so combining with the upcoming worker queue feature + a deferrable operators I think this would reduce a lot of that issue

[2022-05-17 12:56] phanikumv commented on #322
For any async operator to be developed,  we need a query id (something like a pid which is unique for each query), because we need to be able to poll for the query status on the Triggerer

[2022-05-17 16:34] kaxil commented on #358
Might need a research task as well

[2022-05-17 16:49] phanikumv opened #360 "[SPIKE/RESEARCH] AWS Batch"
**Acceptance Criteria:**
Find a Python library that supports Asynchronous implementation for AWS Batch if the official library does not support it.
Document possible options and selection reasons for a particular library in this GitHub issue via a Summary comment.

Ensure that connection is set up and working.

[2022-05-18 06:09] bharanidharan14 commented on #310
- Moved the Azure service bus admin client hook and message hook as separate file
- Added params to create queue operators
- Improved the exception handling

[2022-05-18 06:23] bharanidharan14 commented on #346
- Added Update subscription operators
- Added example DAG
- working on the test case

[2022-05-18 12:13] patryk126p opened #362 "S3KeySensorAsync templated bucket_key"
**Is your feature request related to a problem? Please describe.**
I would like to transition from `S3KeySensor` to `S3KeySensorAsync` but I've noticed that async version in astronomer-providers doesn't allow for templated airflow variables in `bucket_key` param

**Describe the solution you'd like**
As far as I can see it should be as simple as adding same line as in `S3KeySensor` in class definit

[2022-05-18 16:09] rajaths010494 commented on #275
Was able to run 100 tasks for HivePartitionSensorAsync to do stress testing but 1000 tasks had an issue mentioned below
![image.png](https://images.zenhubusercontent.com/61cd5705d341327dd82ca4b5/8e33b0a2-dd79-471f-bd85-40caabda49c7)

[2022-05-19 06:22] bharanidharan14 commented on #346
- Implemented ReceiveMessageSubscriptionOperator and add it to example DAG
- working on the test case

[2022-05-19 06:36] bharanidharan14 opened #363 "Build example DAG for async Hive sensors with kerberos authentication"
- Automate all the steps needed to run an example hive DAG with Kerberos authentication enabled

[2022-05-20 08:21] pankajastro opened #366 "Microsoft ADF task failing with timeout error"
AzureDataFactoryRunPipelineOperatorAsync failing with timeout error

[code]

[2022-05-20 08:27] pankajastro opened #367 "Remove unused logging.getLogger call"
Remove unused logging.getLogger which is creating an extra attribute `log` in documentation

[2022-05-20 13:09] pankajastro opened #369 "ExternalTaskSensorAsync Example should defer"
Currently, it waits on the dummy operator so won't get a chance to defer

Related to: https://github.com/astronomer/astronomer-providers/pull/361

[2022-05-21 22:51] raphaelauv opened #372 "airflow 2.3.1rc1 - every run of the KPOA give : ERROR - Unclosed client session"
**Describe the bug**

[code]

**To Reproduce**
airflow 2.3.1rc1
astronomer-providers[cncf.kubernetes]==1.3.0
apache-airflow-providers-cncf-kubernetes==4.0.2

**Expected behavior**
it should not log ` ERROR - Unclosed client session` at every run of the KPOA

[2022-05-22 00:04] kaxil commented on #372
cc @pankajastro @dstandish

[2022-05-22 00:10] #367 closed

[2022-05-22 00:19] #362 closed

[2022-05-22 00:25] #369 closed

[2022-05-22 01:07] kaxil commented on #362
Fixed and released in 1.3.1

[2022-05-22 11:27] pankajastro opened #375 "Remove Redundant XCOM call"
In some operators and sensors, we are pushing the value in xcom in both methods `execute` and `execute_complete`. We were doing this since there was a bug in airflow because of that the xcom was getting deleted once the task was resuming from defer state. Since the bug has been fixed in airflow so remove those unnecessary calls

[2022-05-23 06:03] bharanidharan14 commented on #346
https://github.com/astronomer/airflow/tree/azure-service-bus-subscription

[2022-05-23 06:31] pankajastro opened #376 "CreateRedshifClusterOperator failing for single-node cluster"
[code]

[2022-05-23 06:32] pankajastro commented on #376
https://github.com/apache/airflow/pull/23839

[2022-05-23 09:28] #270 closed

[2022-05-23 09:44] #376 closed

[2022-05-23 09:48] phanikumv commented on #356
Please add more details on this issue and the acceptance criteria @bharanidharan14

[2022-05-23 16:42] #275 closed

[2022-05-24 05:53] phanikumv opened #379 "Test the integration DAGs on Stellar"
Test the integration DAGs with Stellar Executor using astro cloud dev alpha image

[2022-05-24 06:32] phanikumv commented on #310
ETA 24-May for development to complete

[2022-05-24 06:33] phanikumv commented on #346
ETA 24-May for the development to finish

[2022-05-24 06:37] pankajkoti commented on #330
Connect with @denimalpaca , @conorbev , & @julienledem to discuss current implementation and gather inputs for this story.
Post that, I will collate the inputs and propose an approach.

[2022-05-24 07:40] pankajastro commented on #375
OSS PR: https://github.com/apache/airflow/pull/22932

[2022-05-24 15:56] bharanidharan14 commented on #189
Me and @denimalpaca connected on this `query_tag` implementation we have decided to add `query_tag` for a session even if the operator sends list of query or single query or multiple query as ';' separated string query. it needs to be added in both `sync` and `async` Snowflake operators

[2022-05-25 05:37] phanikumv commented on #360
Completed setting  up the batch job definitions , job queue and compute environment on AWS account.
Tried to run the BatchOperator on local instance of airflow.

Getting few permission issues, looking into it

`botocore.exceptions.ClientError: An error occurred (AccessDeniedException) when calling the DescribeJobs operation: User is not authorized to perform: batch:DescribeJobs on resource: *`

[2022-05-25 06:39] phanikumv opened #381 "Fix mypy and test coverage issues on KPOA"
Linked PR https://github.com/astronomer/astronomer-providers/pull/139

[2022-05-25 10:01] #276 closed

[2022-05-26 02:22] julienledem commented on #189
This sounds correct.
can we have a more formal spec of the values in the query tag?
Right now I'm reading `airflow_{taskid}_{dagid}_{trynumber}_{TIMESTAMP}`
IT would be useful if this contained:
- OPENLINEAGE_NAMESPACE
- The DAG name
- The Task name

Are the taskid and the dagid the same thing as their name? In that case I would just add the OPENLINEAGE_NAMESPACE in there.

[2022-05-26 03:45] bharanidharan14 commented on #189
@julienledem Thanks for the confirmation, I will try to add `OPENLINEAGE_NAMESPACE` as well in the query tag

[2022-05-26 06:39] phanikumv commented on #381
Facing issues during testing as we are unable to deploy DAG changes onto astro-cloud 5.0.1

[2022-05-26 06:42] pankajkoti commented on #330
Met @denimalpaca to understand his work. @conorbev has setup a meeting on Friday evening India time together with @julienledem & @howardyoo to discuss further on this.

Meantime I am trying to build the extractor in OL repo and use in providers repo astro-runtime environment.

[2022-05-26 07:01] phanikumv commented on #360
Fixed the permission issues for running AWS Batch, the synchronous version of BatchOperator is running successfully

[2022-05-26 07:03] phanikumv commented on #381
@pankaj will try using astro-cloud 5.0.2 and update here

[2022-05-26 07:12] #177 closed

[2022-05-26 10:20] pankajastro commented on #381
Created new deployment and test

[2022-05-26 10:21] #381 closed

[2022-05-26 13:57] pankajastro opened #390 "Add GKEStartPodOperatorAsync Example DAG"
Add GKEStartPodOperatorAsync Example DAG for integration testing

[2022-05-26 13:58] pankajastro commented on #390
Draft PR: https://github.com/astronomer/astronomer-providers/pull/385

[2022-05-26 14:00] pankajastro commented on #390
Look like our team GCP project does not have permission for Kubernetes Engine API

[2022-05-26 14:29] pankajastro opened #391 "Update GCP_LOCATION env to correct value"
Update GCP_LOCATION env default value to correct value in example DAG.
The current default value is us which is not correct
https://cloud.google.com/compute/docs/regions-zones

[code]

[2022-05-26 15:02] jwitz opened #392 "Automated documentation for available operators"
**Is your feature request related to a problem? Please describe.**

I've received feedback that the CHANGELOG is difficult to parse when users need to learn about available operators and their import statements. We used to maintain a list of these operators on docs.astronomer.io, but with the frequency of `astronomer-providers` releases it was becoming difficult to maintain and risked becoming out

[2022-05-26 15:05] pankajastro commented on #390
The above issue has been resolved. I'm able to run `GKECreateClusterOperator` and `GKEDeleteClusterOperator` but `GKEStartPodOperatorAsync` failing on astro-cloud with below error

[code]

[2022-05-26 15:37] virajmparekh commented on #189
The DAG ID and task ID are different; a unique task in Airflow is defined
by its dag_id, task_id, and try_number. We can probably remove the need to
include timestamp, as the time a query ran is probably already in another
table in Snowflake. So perhaps
`airflow_openlineagens_dagid_taskid_trynumber?`

Also note that the tag can only be 200 characters.

On Thu, May 26, 2022 at 5:46 AM bharanidharan

[2022-05-26 19:57] pankajastro commented on #390
After Installing GCP cli in the container this issue has been resolved

[2022-05-26 19:58] pankajastro commented on #390
Namespace is always `exact-cluster-1733` which equivalent to astro-cloud namespace and getting below error
[code]

[2022-05-26 21:02] pankajastro commented on #390
Even on my local setup failing
[code]

[2022-05-26 21:03] pankajastro commented on #390
Able to run sync version i.e `GKEStartPodOperator`  on local
[code]

[2022-05-27 06:23] phanikumv commented on #360
Summary:
Did a quick POC and found that aiobotocore could be used to connect to AWS batch

[2022-05-27 06:23] #360 closed

[2022-05-27 06:57] pankajkoti opened #393 "example_async_adf_run_pipeline DAG failing sometimes with an error"
[code]

[2022-05-27 11:06] pankajastro opened #395 "Improve CNCF Kubernetes Test Coverage"
- Coverage should be more than 90 % for operator/trigger/hook
- Make sure no test is skipped.

[2022-05-27 11:51] #372 closed

[2022-05-28 13:03] pankajastro commented on #390
Look like when 2nd time it is deferring then not able to find the generated Kubernetes config file
Trigger Log.
[code]
So maybe we will have to run this on the trigger
[code]

[2022-05-28 13:10] pankajastro commented on #390
I also checked in the container the generated Kube conf file is on the worker but not on the trigger

[2022-05-28 15:22] pankajastro opened #396 "Deprecate `emr_conn_id` or `aws_conn_id` in `EmrCreateJobFlowOperator`"
Currently, EmrCreateJobFlowOperator require both emr_conn_id and aws_conn_id. deprecate one of them.

[2022-05-30 08:29] raphaelauv commented on #390
@pankajastro what about that -> https://github.com/astronomer/astronomer-providers/pull/397

[2022-05-30 09:01] pankajastro commented on #390
I have added one comment please let me know what you think

[2022-05-30 14:20] pankajastro opened #400 "DataprocSubmitJobOperatorAsync should push job id in XCOM"
DataprocSubmitJobOperatorAsync shall push job id in XCOM instead message like `Job completed successfully`
https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/operators/dataproc.py#L1843

[2022-05-31 04:49] bharanidharan14 commented on #189
@denimalpaca I Tired the moving the alter session query into the Snowflake Hook, we need some context information to be sent to hook for task id, dag id and its the same so its better to keep the code in same execute method and I have handled for list of query params and ';' separated query params.

[2022-05-31 04:55] bharanidharan14 commented on #189
pushed the code changes created the draft PR https://github.com/astronomer/astronomer-providers/pull/401

[2022-05-31 06:50] pankajkoti commented on #330
@conorbev I tried adding extractor in the OpenLineage repo and still it warns that extractor not found. Can I get some help from someone? Not able to tag Maciej here as his not part of our organisation. I have reached out to him over Slack; awaiting his reply.

[2022-05-31 06:58] phanikumv commented on #393
Duplicate of #366

[2022-05-31 06:58] #393 closed

[2022-05-31 07:00] #400 closed

[2022-05-31 10:57] pankajastro opened #402 "Implement S3CreateObjectOperatorAsync"
Acceptance Criteria:

**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (90% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [ ] Example DAG using the async Operator that can be used to run Integration tests that are parametrized via Environment variables. Example - https://github.com/apache/airflow/blob/8a03a505e1df0f9de276038c550

[2022-05-31 10:59] pankajastro opened #403 "Implement RedshiftDeleteClusterOperatorAsync"
**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (90% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [ ] Example DAG using the async Operator that can be used to run Integration tests that are parametrized via Environment variables. Example - https://github.com/apache/airflow/blob/8a03a505e1df0f9de276038c5509135ac569a667/airflow/

[2022-05-31 11:35] bharanidharan14 commented on #346
Draft PR https://github.com/apache/airflow/pull/24042

[2022-05-31 16:39] pankajastro opened #406 "Dataproc : remove location in favour of region"
OSS PR
- https://github.com/apache/airflow/pull/23250
- https://github.com/apache/airflow/pull/23350

[2022-05-31 20:09] pankajastro opened #408 "Consistent Docstring"
I see the following item is not consistent for docstring
- private method docstring, for some private methods we do document the param but for some, we do not
- For method public/private, for some methods, we do have the return statement in the docstring for most of the places we do not have
- class/methods param type (rtype), at someplace we have rtype for param but most of the place we do not ha

[2022-06-01 02:43] bharanidharan14 commented on #310
PR link : https://github.com/apache/airflow/pull/24038

[2022-06-01 06:35] pankajkoti commented on #330
@julienledem has the opinion that each of the operators should emit their own lineage data to OL. And hence, the code would reside together with each of the sync/async operator in Airflow(sync operators)/Astronomer-providers(async-operators) repository. These events need to be transformed by the operator itself that would have a standard contract with OL.

I will discuss this approach with @kaxil

[2022-06-01 06:45] phanikumv commented on #406
To do more analysis in order to check whether this change can be included in the upcoming release.

cc @kaxil

[2022-06-01 06:50] phanikumv commented on #366
Change has been deployed and today's execution on astro-cloud went through fine, will observe for this week and then close it in case of no more issues.

[2022-06-01 12:49] #406 closed

[2022-06-02 03:51] bharanidharan14 commented on #310
Addressed PR review comments and updated the PR

[2022-06-02 10:52] phanikumv opened #410 "Fix EMR EKS example DAG failure"
EMR EKS DAG is failing with below error:

`[2022-05-24, 00:26:46 UTC] {example_emr_eks_containers_job.py:58} ERROR - Error while creating EMR virtual cluster
Traceback (most recent call last):
  File "/usr/local/airflow/dags/example_emr_eks_containers_job.py", line 48, in create_emr_virtual_cluster_func
    response = client.create_virtual_cluster(
  File "/usr/local/lib/python3.9/site-packages/bo

[2022-06-02 13:59] #358 closed

[2022-06-03 05:00] pankajkoti commented on #391
This issue seems to be a transient issue. The region `US` actually exists implicitly and the DAG runs fine with the region; this [link](https://cloud.google.com/bigquery/docs/locations#multi-regions) mentions about the region `US`. It ran fine today on the master DAG and ran fine on local in multiple attempts that I tried yesterday.
However, if I try to update the location to `us-west1` / `us-east

[2022-06-03 05:04] pankajkoti opened #411 "Check that astronomer-providers image runs fine without installation of openlineage dependency"
We want to check that upon addition of custom OpenLineage extractors in the astronomer-providers code repository and not having the OpenLineage dependencies installed, the services load up fine and so do the DAGs run fine.
This is to ensure that customers who do not want to use OpenLineage are not impacted by the code for extractors being present in the image without the openlineage dependencies i

[2022-06-03 05:11] pankajkoti commented on #411
To verify this, I took the following steps:
1. Use `quay.io/astronomer/ap-airflow:2.3.1-1` as base image
2. Add custom extractor for BigQueryInsertJobOperatorAsync operator in astronomer-providers repository
3. Built the image and ran the DAGs.

I verified that no openlineage dependencies are installed with that base image in contrary to the `quay.io/astronomer/astro-runtime:5.0.2-base` image wher

[2022-06-03 05:13] pankajkoti commented on #411
cc: @kaxil @phanikumv We're safe to add custom extractors in `astronomer-providers` repository; it will work fine for customer if they do not intend to install `openlineage` given that they do NOT set the `AIRFLOW__LINEAGE__BACKEND` environment variable.

[2022-06-03 05:26] pankajkoti commented on #330
Following topics are in discussion:
1. How do we plan to emit lineage events from the Airflow ecosystem? Will the approach be similar to the existing approach where OL hooks into Airflow and runs the extractor post the operator has finished processing?
Response from @julienledem : The event sending should be centralised in the OL listener. Ideally in the future it can be bundled in Airflow and jus

[2022-06-03 06:52] pankajkoti commented on #411
Closing the ticket with respect to successful testing and above comments.

[2022-06-03 06:52] #411 closed

[2022-06-03 06:52] pankajkoti commented on #391
Closing the ticket for now based on above comments; we can reopen for further investigation if we observe the issue again.

[2022-06-03 06:52] #391 closed

[2022-06-03 06:53] pankajkoti commented on #366
The re-ordering of tasks seem to have helped and the DAG has run fine for the last 3 days post deployment of this change and hence closing the ticket.

[2022-06-03 06:54] pankajkoti commented on #330
We will take the approach mentioned in the above [comment](https://github.com/astronomer/astronomer-providers/issues/330#issuecomment-1145597008). Closing the ticket.

[2022-06-03 06:54] #330 closed

[2022-06-03 15:43] phanikumv opened #412 "[SPIKE/RESEARCH] Async Snowflake SQL Operator"
Today SnowflakeOperatorAsync does not support submitting multiple SQL statements sequentially, which is the behavior of the SnowflakeOperator.As a note, the Snowflake SQL API allows for submitting multiple SQL statements in a single request. In combination with aiohttp, this may be an option for creating a SnowflakeOperatorAsync that matches the query submission behavior of the SnowflakeOperator.

[2022-06-03 16:30] phanikumv opened #413 "Fix example DAG on async batch"
Fix the below task failure on the example DAG,  this is intermittent though.

botocore.errorfactory.ClientException: An error occurred (ClientException) when calling the DeleteJobQueue operation: Cannot delete, resource is being modified
[2022-06-03, 13:36:08 UTC] {taskinstance.py:1890} ERROR - Task failed with exception
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-pack

[2022-06-06 06:48] phanikumv opened #414 "[SPIKE/RESEARCH] Dataproc operators"
Go through the https://www.notion.so/astronomerio/Async-Operator-Availability-matrix-5dc9c6b581894727a3387a19179a1435 and find whether dataproc API returns a unique job id , using which an async operator/sensor can be built. The outcome of this spike would be to finalize the list of async operators/sensors which can built for dataproc.

[2022-06-06 07:26] phanikumv commented on #355
Closing as this issue is not occurring now

[2022-06-06 07:26] #355 closed

[2022-06-06 07:28] phanikumv opened #415 "Implement async AWS BatchSensor"
Implement Async sensors for the following
- [BatchSensor](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/sensors/batch.py)

**Acceptance Criteria**:
- [x] Unit Tests coverage in the PR (80% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [x] Example DAG using the async Operator that can be used to run Integration tes

[2022-06-06 10:29] phanikumv opened #416 "Implement Test Provider Connection methods"
Consolidate tasks from Spike 427 and implement the test connection methods.

- [x] Trino
- [x] Databricks
- [x] AWS
- [x] Azure
- [x] GCP

[2022-06-06 11:42] phanikumv opened #417 "[SPIKE/RESEARCH] RedshiftDataOperator"

[2022-06-06 12:06] phanikumv opened #418 "[SPIKE/RESEARCH] Async AWSAthenaOperator"
Acceptance Criteria:
Find a Python library that supports Asynchronous implementation for AWSAthenaOperator if the official library does not support it.Document possible options and selection reasons for a particular library in this GitHub issue via a Summary comment.

Ensure that connection is set up and working.

[2022-06-06 12:08] phanikumv opened #419 "[SPIKE/RESEARCH] Async GlueJobOperator"
Acceptance Criteria:
Find a Python library that supports Asynchronous implementation for GlueJobOperator if the official library does not support it.Document possible options and selection reasons for a particular library in this GitHub issue via a Summary comment.

Ensure that connection is set up and working.

[2022-06-06 12:16] phanikumv opened #420 "[SPIKE/RESEARCH] Async SqlSensor"

[2022-06-06 12:28] phanikumv opened #421 "[SPIKE/RESEARCH] Async DbtCloudRunJobOperator"
Acceptance Criteria:
Find a Python library that supports Asynchronous implementation for DbtCloudRunJobOperator  if the official library does not support it.Document possible options and selection reasons for a particular library in this GitHub issue via a Summary comment.

Ensure that connection is set up and working.

[2022-06-06 12:32] phanikumv opened #422 "[SPIKE/RESEARCH] Async TableauOperator"

[2022-06-06 14:36] phanikumv opened #423 "[SPIKE/RESEARCH] Async Databricks Job Sensors"

[2022-06-06 16:25] pankajastro commented on #414
- DataprocSubmitPySparkJobOperator is deprecated to DataprocSubmitJobOperator
- DataprocCreateClusterOperator should be possible. check [this method](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/operators/dataproc.py#L609) how it is waiting.
- DataprocDeleteClusterOperator should be possible, we can call delete API from the trigger. Both delete and create API has a ti

[2022-06-06 16:29] pankajastro commented on #414
DataprocJobBaseOperator can be done check param `asynchronous` of this operator

[2022-06-06 16:33] pankajastro commented on #414
below operators are deprecated use DataprocSubmitJobOperator instead
- DataprocSubmitPigJobOperator
- DataprocSubmitHiveJobOperator
-  DataprocSubmitSparkSqlJobOperator
- DataprocSubmitSparkJobOperator
- DataprocSubmitSparkJobOperator
- DataprocSubmitPySparkJobOperator

[2022-06-06 16:56] pankajastro commented on #414
- DataprocCreateWorkflowTemplateOperator
- DataprocInstantiateWorkflowTemplateOperator
- DataprocInstantiateInlineWorkflowTemplateOperator
- DataprocUpdateClusterOperator
- DataprocCreateBatchOperator
- DataprocDeleteBatchOperator
- DataprocGetBatchOperator
- DataprocListBatchesOperator
Above all can be implemented in an async way

[2022-06-06 17:01] pankajastro commented on #414
In summary, based on initial analysis we can convert the following operator to async
- DataprocCreateClusterOperator
- DataprocDeleteClusterOperator
- DataprocUpdateClusterOperator
- DataprocJobBaseOperator
- DataprocCreateWorkflowTemplateOperator
- DataprocInstantiateWorkflowTemplateOperator
- DataprocInstantiateInlineWorkflowTemplateOperator
- DataprocUpdateClusterOperator
- DataprocCreateBatchO

[2022-06-06 17:04] pankajastro opened #424 "Implement Async Dataproc operators"
Add async versions of the following operator

- [x] DataprocCreateClusterOperatorAsync
- [x] DataprocDeleteClusterOperatorAsync
- [x] DataprocUpdateClusterOperatorAsync

**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (90% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [ ] Example DAG using the async Operator that can be used to

[2022-06-07 05:31] phanikumv opened #426 "Implement TrinoOperator"
Worth checking if we can create a sync TrinoOperator. Currently only hooks & transfer operators are available - https://airflow.apache.org/docs/apache-airflow-providers-trino/stable/_api/airflow/providers/trino/index.html

[2022-06-07 05:42] phanikumv commented on #414
Not sure if making all of the above into async is worth the time, let's focus on the ones which take time to execute:-

- DataprocCreateClusterOperator
- DataprocDeleteClusterOperator
- DataprocUpdateClusterOperator

[2022-06-07 05:49] phanikumv opened #427 "[SPIKE/RESEARCH] Test Provider Connections"
A research task to check which provider connection works/ doesnt work. Split into batches of providers. The outcome of this spike would be to identify all the provider connections for which "Test Connection" doesnt work.

[2022-06-07 13:25] bharanidharan14 commented on #189
@julienledem @virajmparekh On this issue, I have made some progress with the help of @pankajkoti . I have added `query_tag` to the query, and also added an OL extractor for `async` snowflake operator. We tested this locally by running a flask-based lineage collection server. Airflow is able to emit the lineage event. I am able to view the json event which is emitted after the Airflow task is execu

[2022-06-07 13:27] bharanidharan14 commented on #189
[2022-06-03-example_snowflake.snowflake_op_sql_list.json.zip](https://github.com/astronomer/astronomer-providers/files/8853551/2022-06-03-example_snowflake.snowflake_op_sql_list.json.zip)
<img width="804" alt="Screenshot 2022-06-07 at 5 54 19 PM" src="https://user-images.githubusercontent.com/94612827/172391850-cdd7fe45-459c-4a10-9c69-fa070b701843.png">

[2022-06-07 13:46] virajmparekh commented on #189
@bharanidharan14 - great work! Thanks for the effort here.

I think that's fine; per a conversation with @julienledem ; it is not yet implemented on the OL side. This should go in the async version as it helps build the story that the Astronomer Provider is the "enterprise grade" snowflake provider.

[2022-06-07 15:36] phanikumv opened #428 "[SPIKE/RESEARCH] Finalize approach to find usage metrics of Operators/Sensors"
Finalize an approach to find out which operators/sensors are most used in astro deployments.
This would be helpful to focus our efforts to build async operators for the most used operators/sensors.

cc @vikramkoka

[2022-06-08 01:43] bharanidharan14 commented on #310
Addressed PR review comments

[2022-06-08 01:47] bharanidharan14 commented on #412
Started working on this, as per documentation trying to submit the create query and insert query in one single query

[2022-06-08 06:09] phanikumv commented on #426
Working towards setting up the connectivity between airflow worker and trino server on Amazon EMR

[2022-06-09 07:11] phanikumv commented on #424
Not sure if making all of the above into async is worth the time, let's focus on the ones which take time to execute:-

- DataprocCreateClusterOperator
- DataprocDeleteClusterOperator
- DataprocUpdateClusterOperator

[2022-06-09 10:24] phanikumv commented on #392
Below is a grep command to bring the list of all operators and sensors in our repo, may be we can use it to autogenerate list of operators and sensors present on our repo.

`(conda_venv) phanikv@Phanis-MBP providers % grep --exclude=\*.rst  -r -e '^class [a-zA-Z]\+[Sensor,Operator]Async([a-zA-Z]\+)'| cut -d ' ' -f 2 | cut -d "(" -f 1 | sort`
AzureDataFactoryPipelineRunStatusSensorAsync
AzureDataFa

[2022-06-09 10:45] kaxil commented on #392
@phanikumv We will need some way to publish this to our Sphinx docs.

Some options that we discussed with the team y'day were:

1. Sphinx parsing itself
2. ast parse + sphinx
3. And the one you have here i.e. Bash + Pre-commit Hook.

cc @pankajastro @pankajkoti @bharanidharan14

[2022-06-09 14:13] pankajastro commented on #427
| Operator/Sensor  | Hook |  Test Conn |
| ------------- | ----------------------------- |--------|
|  | AthenaHook(AwsBaseHook)  | ❌ |
|   | AwsBaseHook(BaseHook)     |  ❌ |
|   | BatchClientHook(AwsBaseHook)| ❌ |
|   | BatchWaitersHook(BatchClientHook)| ❌ |
| | CloudFormationHook(AwsBaseHook)| ❌ |
| | DataSyncHook(AwsBaseHook) | ❌ |
| | DmsHook(AwsBaseHook) | ❌ |
| | DynamoDBHook(AwsBaseHook) |

[2022-06-09 14:45] pankajastro commented on #427
Google cloud related test connection button status

| Operator/Sensor  | Hook | Test Conn status |
| ------------- | ------------- | ------------- |
|  | CloudAutoMLHook(GoogleBaseHook) | ❌ |
| | BigQueryHook(GoogleBaseHook, DbApiHook) | ✅ |
| | BiqQueryDataTransferServiceHook(GoogleBaseHook) | ❌ |
| | BigtableHook(GoogleBaseHook) | ❌ |
| | CloudBuildHook(GoogleBaseHook) | ❌ |
| | CloudComposerHoo

[2022-06-10 13:01] pankajastro commented on #427
Snowflake related test connection button status

Operator/Sensor | Hook | Test Conn status
------------------ | ----- | ----------------
| | SnowflakeHook | ✅

SnowflakeHook

[2022-06-10 14:13] pankajastro commented on #424
Add example DAG and tested `DataprocCreateClusterOperatorAsync`

[2022-06-10 14:22] ReadytoRocc commented on #412
Adding the related discussion here: https://github.com/astronomer/astronomer-providers/discussions/240.

Here are the docs I found through some research, regarding potential auth methods for this operator:
1. [Using Key Pair Auth](https://docs.snowflake.com/en/developer-guide/sql-api/authenticating.html#using-key-pair-authentication)
2. [Key Pair Auth and Rotation](https://docs.snowflake.com/en/us

[2022-06-10 15:44] pankajastro commented on #396
Not exactly able to deprecate it but it is optional now since https://github.com/apache/airflow/pull/24306 has merged so closing it.

[2022-06-10 15:44] #396 closed

[2022-06-11 12:00] pankajastro opened #430 "Add support for associating custom tags to job runs submitted via EmrContainerOperatorAsync"
OSS PR: https://github.com/apache/airflow/pull/23769

[2022-06-11 12:00] pankajastro opened #431 "Add support for associating custom tags to job runs submitted via EmrContainerOperatorAsync"
OSS PR: https://github.com/apache/airflow/pull/23769

[2022-06-11 12:02] pankajastro commented on #431
Duplicate of #430

[2022-06-11 12:02] #431 closed

[2022-06-11 12:05] pankajastro opened #432 "Add git_source to DatabricksSubmitRunOperatorAsync"
OSS PR: https://github.com/apache/airflow/pull/23620

[2022-06-11 12:14] pankajastro opened #433 "Fix error when SnowflakeHookAsync take empty list in sql param"
OSS PR: https://github.com/apache/airflow/pull/23767

[2022-06-13 05:36] pankajkoti opened #434 "Tasks do not resume from DEFERRED state and fails eventually"
Observing an issue where random tasks for random DAGs fail sometime. The logs indicate that the was DEFERRED and did not resume.

[code]

[2022-06-13 06:22] bharanidharan14 commented on #412
Started implementing the separate SnowflakeSQLOperator by using AsyncA API call to existing connection won't be sufficient to make the API call we need find way in large context to support both SQL API type operator and snowflake connector type

[2022-06-13 07:02] pankajastro opened #435 "DataprocSubmitJobOperatorAsync should use async lib"
https://github.com/googleapis/python-dataproc

Trigger Log
[code]

[2022-06-13 07:22] phanikumv commented on #426
Connectivity is working, and testing the operator code

[2022-06-13 10:44] phanikumv commented on #427
TODO: Databricks, ElasticSearch, Slack, Trino and Hive

[2022-06-13 19:35] #390 closed, assigned to pankajastro

[2022-06-13 19:49] pankajastro opened #438 "CI is failing in main"
tests.cncf.kubernetes.operators.test_kubernetes_pod
test_get_logs_running
[code]
tests.cncf.kubernetes.operators.test_kubernetes_pod
[code]
test_job_id_validity[test-dag-id-1.1]
[code]
Most probably this is happing because of new provider release.

[2022-06-14 03:55] phanikumv commented on #426
https://github.com/apache/airflow/pull/24415

[2022-06-14 04:15] bharanidharan14 commented on #412
Git hub repo link https://github.com/astronomer/astronomer-providers/tree/snowflake-multiple-sql

[2022-06-14 06:37] pankajkoti commented on #403
I have implemented the example DAG with required operator, trigger and hook changes but the DAG fails as the sync version of the operator has a missing assignment for aws_conn_id .

[2022-06-14 07:07] pankajastro commented on #427
Databricks related test connection button status

Operator/Sensor | Hook | Test Conn status
----------------  |  ------   |  -------------
| | DatabricksHook | ❌
| | BaseDatabricksHook | ❌
| | DatabricksSqlHook | ✅

[2022-06-14 07:10] pankajastro commented on #427
ElasticSearch related test connection button status

| Operator/Sensor | Hook | Test Conn status
----------------- | ------ | --------------
| | ElasticsearchHook | ❌

[2022-06-14 07:12] pankajastro commented on #427
Slack related test connection button status

| Operator/Sensor | Hook | Test Conn status
|---------------- | ------- | ----------------
| | SlackHook | ❌
| | SlackWebhookHook | ❌

[2022-06-14 07:14] pankajastro commented on #427
Trino related test connection button status

| Operator/Sensor | Hook | Test Conn status
| ----------------- | ----- | ----------------
| | TrinoHook | ❌

[2022-06-14 07:20] pankajastro commented on #427
Hive related test connection button status

| Operator/Sensor | Hook | Test Conn status
| ----------------- | ------ | ---------------
| | HiveCliHook | ❌
| | HiveMetastoreHook | ❌
| | HiveServer2Hook | ❌

for HiveServer2Hook test button is not disabled because the parent class implement `test_connection` but I feel like we should also implement in  HiveServer2Hook

[2022-06-14 12:41] #438 closed

[2022-06-15 04:37] pankajastro opened #441 "Implement GKE related operator"
- [ ] GKECreateClusterOperator
- [ ] GKEDeleteClusterOperator

**Acceptance Criteria**:
- [ ] Unit Tests coverage in the PR (90% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [ ] Example DAG using the async Operator that can be used to run Integration tests that are parametrized via Environment variables. Example - https://github.com/apache

[2022-06-15 04:50] pankajastro opened #443 "Fix GKEStartPodOperator in astro-cloud"
By default in astro-cloud the kube namespace is set to deployment namespace
Task log
[code]

When setting namespace by setting up `AIRFLOW__KUBERNETES__NAMESPACE` in dockerfile it trying to use the service account
task log
[code]

[2022-06-15 09:49] pankajastro commented on #424
started working `DataprocDeleteClusterOperatorAsync`

[2022-06-15 11:43] pankajastro commented on #424
DataprocDeleteClusterOperatorAsync  branch: https://github.com/astronomer/astronomer-providers/pull/new/dataproc_delete_cluster

[2022-06-15 11:46] phanikumv commented on #424
Can we get some stats(sync vs async timings) on how much time each of these operators take?

[2022-06-15 13:01] pankajastro commented on #424
DataprocDeleteClusterOperatorAsync  PR: https://github.com/astronomer/astronomer-providers/pull/446

[2022-06-15 13:02] pankajastro commented on #424
Sure, do some comparison.

[2022-06-16 02:28] bharanidharan14 commented on #412
Finished coding part and pushed the code for snowflake SQL API operator, blocked with mapping public key to the snowflake user yesterday it was sorted by IT team now I need to test it with the Key's pair authentication

Git hub repo link[https://github.com/astronomer/astronomer-providers/tree/snowflake-multiple-sql](snowflake-multiple-sql)

[2022-06-16 06:27] phanikumv commented on #189
why is this reopened ? Is there any pending work on providers side?

[2022-06-16 06:28] phanikumv commented on #424
Lets get the stats published before we close this issue

[2022-06-16 06:28] phanikumv commented on #426
Incorporating PR suggestions

[2022-06-16 06:33] #414 closed

[2022-06-16 07:04] rajaths010494 commented on #379
Created a example_dag to get executor,  command  `airflow config get-value core executor` and deploy in dev env and run the example dag to check for stellar executor.

[2022-06-16 12:46] rajaths010494 commented on #379
2022-06-16, 12:03:03 UTC] {taskinstance.py:1394} INFO - Marking task as SUCCESS. dag_id=example_gcp_dataproc, task_id=create_cluster, execution_date=20220616T120000, start_date=20220616T120005, end_date=20220616T120303
[2022-06-16, 12:03:03 UTC]    INFO | Task exited with return code 0
[2022-06-16, 12:03:03 UTC]   ERROR | Failed to execute task <object object at 0x7f412c364740> is not a valid _Met

[2022-06-16 19:44] denimalpaca commented on #322
Closed by accident -- please ignore. No update on this right now.

[2022-06-16 23:06] bharanidharan14 commented on #412
Tested the code with key pair authentication, pushed the changes to `snowflake-multiple-sql` branch, with example DAG
Git hub repo linkhttps://github.com/astronomer/astronomer-providers/tree/snowflake-multiple-sql

[2022-06-16 23:09] bharanidharan14 commented on #412
@ReadytoRocc You can pull the code from `snowflake-multiple-sql` branch I have added example, you can pull the code and run the example DAG with `private key` in  the connection

[2022-06-17 06:30] bharanidharan14 commented on #189
Addressed PR review comments still code coverage needs to be fixed

[2022-06-17 06:45] pankajkoti commented on #403
PR is ready with tests passing and code coverage is to an acceptable level. Addressing the review comments now.

[2022-06-17 06:57] phanikumv commented on #427
@pankajastro please consolidate for which hooks we need add the test_connection method.

[2022-06-17 06:59] phanikumv commented on #310
Awaiting implementation of review comment, can we close them quickly?

[2022-06-17 07:01] phanikumv commented on #412
@bharanidharan14 I dont see any PR created for this issue . If this needs to be delivered to customer, then we need to create PR and go through our release process. Can you please confirm what is the plan here?

[2022-06-17 07:18] bharanidharan14 commented on #412
@phanikumv I Pinged @ReadytoRocc on this, whether this has to be delivered to customer or not, once he confirm PR can be raised we can follow the release process. from our side I made sure this is developed as separate operator and its in working state with multiple Query Implementation and async execution.

[2022-06-17 10:46] #403 closed

[2022-06-17 18:42] pankajastro commented on #424
DataprocUpdateClusterOperatorAsync PR:  https://github.com/astronomer/astronomer-providers/pull/449

[2022-06-17 20:24] RNHTTR opened #450 "KubernetesPodOperatorAsync pod not killed when task failed from UI"
**Describe the bug**
When setting a `KubernetesPodOperatorAsync` task that is currently in the `deferred` state to `failed` in the UI, the underlying pod will not be killed.

**To Reproduce**
Deploy the following DAG to Astro:

    from datetime import datetime, timedelta

    from airflow import DAG
    from airflow.configuration import conf
    from astronomer.providers.cncf.kubernetes.operators

[2022-06-18 12:01] pankajastro opened #451 "Improve GKEStartPodOperatorAsync"
- Push pod name and namespace in xcom when do_xcom_push is set to True
- Clean the pod when operation is done

[2022-06-20 06:34] rajaths010494 commented on #379
Tested on 6.0.0-alpha16  the same error occured on Azure example dag. Reported it to kelechi.

[2022-06-20 10:16] phanikumv commented on #189
Please close in case everything is implemented.

[2022-06-20 10:17] phanikumv commented on #426
https://github.com/apache/airflow/pull/24559

[2022-06-20 11:23] pankajkoti opened #452 "Implement OL extractors"
Implement OL extractors for the below set of async operators:
- [ ] Bigquery
- [ ] Snowflake
- [ ] Databricks
- [ ] Redshift

[2022-06-20 12:19] pankajastro opened #454 "`make run-tests` not working on local dev env"
error
[code]

[2022-06-20 12:27] #454 closed

[2022-06-20 14:00] kelechi2020 commented on #379
This is related to a known open issue https://github.com/astronomer/stellar/issues/193
Following up the dev team for updates.
This should be fixed after  https://github.com/astronomer/stellar/issues/193 is closed.

[2022-06-20 14:51] phanikumv opened #458 "Add async SqsBatchSensor"

[2022-06-20 15:04] pankajastro commented on #427
Updated the comments for all types of above-mentioned provider

[2022-06-20 15:05] pankajastro commented on #427
Updated the comments for all types of above-mentioned provider

[2022-06-21 04:20] bharanidharan14 commented on #412
@ReadytoRocc Can you add your comments on this

[2022-06-21 05:03] rajaths010494 commented on #435
https://github.com/astronomer/astronomer-providers/pull/453

[2022-06-21 05:23] pankajkoti commented on #417
The `RedshiftDataOperator` has the same objective as of `RedshiftSQLOperator` to submit SQL statement for execution to the Redshift cluster. The difference between the two is that the RedshiftSQLOperator needs the `postgres` endpoint connection to be created for the Redshift cluster (the default connection name being redshift_default), whereas, `RedshiftDataOperator` does not need any additional c

[2022-06-21 05:26] pankajkoti commented on #417
Airflow reference PR where the `RedshiftDataOperator` was added: https://github.com/apache/airflow/pull/19137

This PR includes all the discussions on why this operator was added and what is the fundamental difference between `RedshiftDataOperator` and `RedshiftSQLOperator`

[2022-06-21 06:21] rajaths010494 commented on #428
After checking airflow db found an table `task_instance` which captures the operator ran and state of the individual tasks.
query used `select operator, count(*) as count from task_instance group by operator order by count desc;`

| sl_no | operator                                 | count |
|-------|------------------------------------------|-------|
| 0     | DataprocSubmitJobOperatorAsync

[2022-06-21 06:27] phanikumv commented on #428
what if I have a custom operator which inherits from another operator like DataprocSubmitJobOperatorAsync?

[2022-06-21 06:40] #427 closed

[2022-06-21 07:12] pankajkoti opened #459 "BigQuery DAG check value task fails intermittently"
The check value sometimes returns 4 as count instead of the expected count of 2. Need to debug why duplicate rows are inserted in the table.

[2022-06-21 07:53] phanikumv commented on #426
Closing as apache/airflow#24559 is merged

[2022-06-21 07:53] #426 closed

[2022-06-21 11:07] kaxil commented on #452
Should we split this into multiple tasks? @pankajkoti @phanikumv

[2022-06-21 14:15] #189 closed

[2022-06-21 16:48] bharanidharan14 opened #460 "Implement Data bricks OL extractors"
- [x] Need to decide on what are all the lineage data/key facets data which can be covered in extractor.
- [ ] Add extractor for async Data bricks operators
- [ ]  Add unit tests for the custom extractor.

[2022-06-21 16:52] bharanidharan14 commented on #460
Started working on the Data bricks extractor spike need to decide on what are all the lineage data/key facets data which can be covered in extractor.

[2022-06-21 22:40] ernest-kr commented on #379
@rajaths010494 Can you please use the 5.1.0-alpha2 build to validate this instead of the 6.0.0. We no longer want to use 6.0.0 for stellar.

[2022-06-22 05:06] rajaths010494 commented on #459
Stellar testing dag also ran with schedule on same time and created records so the task got failed.
Disabling the stellar testing dags and will wait for a day to make sure it runs fine.

[2022-06-22 06:12] rajaths010494 opened #461 "Azure DataFactory DAG is failing in run_pipeline_wait"
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/astronomer/providers/microsoft/azure/operators/data_factory.py", line 86, in execute_complete
    raise AirflowException(event["message"])
airflow.exceptions.AirflowException: The pipeline run 8680702e-f1ed-11ec-8961-6e35464960d1 has Failed.

[2022-06-22 06:23] phanikumv commented on #416
Trino test connection has been implemented in https://github.com/apache/airflow/pull/24583

[2022-06-22 06:28] phanikumv commented on #452
yes @kaxil, we are implementing this in a separate issue per each provider.

[2022-06-22 06:29] phanikumv commented on #460
Why would this be a SPIKE, this would rather be an implementation story. Please change the title accordingly

[2022-06-22 07:33] pankajkoti opened #462 "Implement OpenLineage extractor for Redshift async operators"
Implement OpenLineage extractor for Redshift async operators

- [x] RedshiftSQLOperatorAsync
- [x] RedshiftDataOperatorAsync

[2022-06-22 07:34] pankajkoti commented on #452
Closing this as we have created separate issues.

[2022-06-22 07:34] #452 closed

[2022-06-22 07:34] pankajkoti commented on #417
Conclusion: Implement the RedshiftDataOperator async operator.

[2022-06-22 07:38] pankajkoti opened #463 "Implement async version for RedshiftDataOperator"
Acceptance Criteria:

- [x] Unit Tests coverage in the PR (90% Code Coverage -- We will need to add CodeCov separately to measure code cov) with all of them passing
- [x] Example DAG using the async Operator that can be used to run Integration tests that are parametrized via Environment variables. Example - https://github.com/apache/airflow/blob/8a03a505e1df0f9de276038c5509135ac569a667/airflow/pro

[2022-06-22 13:52] rajaths010494 commented on #379
Few dags which are failing doesn't have any logs to debug.
Other dags are running fine with no issues.
Have reported it to @kelechi2020 .

[2022-06-22 15:27] #424 closed

[2022-06-23 01:25] ReadytoRocc commented on #412
Thanks @bharanidharan14. After some basic tests, this operator works well. Some thoughts:

1. I received a 403 error initially, because the `account` field in the connection did not include the `region`.
a. While this is noted in the [Snowflake docs](https://docs.snowflake.com/en/user-guide/admin-account-identifier.html#format-2-legacy-account-locator-in-a-region), the [SnowflakeHook](https://gith

[2022-06-23 01:26] ReadytoRocc commented on #412
Thanks @bharanidharan14. After some basic tests, this operator works well. Some thoughts:

1. I received a 403 error initially, because the `account` field in the connection did not include the `region`.
a. While this is noted in the [Snowflake docs](https://docs.snowflake.com/en/user-guide/admin-account-identifier.html#format-2-legacy-account-locator-in-a-region), the [SnowflakeHook](https://gith

[2022-06-23 03:12] bharanidharan14 commented on #410
Added condition to check for the virtual cluster in the namespace before creating it and need to test it in flow and check is any other issues is occurring

[2022-06-23 04:11] bharanidharan14 commented on #460
To start with the extractor decided to extract the following details in facets

- Job properties,
- cluster properties,
- user,
- userId,
- job status
- orgId (if available)
- notebook.path,
- job type (if available),
- job id (if available),
- job runId (if available),
- clusterName,
- subscription id (if available)

[2022-06-23 06:41] phanikumv commented on #366
Closing as the latest issue is tracked in #461

[2022-06-23 06:41] #366 closed

[2022-06-23 06:43] phanikumv opened #465 "Create documentation for connectivity to Azure Blob"

[2022-06-23 06:48] pankajastro opened #466 "Make python filename consistent cross repo"
Rename the files to maintain consistency
remove async, extract, operator, trigger words from python filename
Fix code coverage for async kubernetes and aws base hook

[2022-06-23 14:46] phanikumv commented on #416
Databricks test connection has been implemented in https://github.com/apache/airflow/pull/24617

[2022-06-23 21:13] pankajastro opened #468 "Remove deprecated file in 2.0.0 release"
Delete
- astronomer/providers/amazon/aws/hooks/base_aws_async.py
- astronomer/providers/cncf/kubernetes/hooks/kubernetes_async.py
- tests/amazon/aws/hooks/test_aws_base_async.py
- tests/cncf/kubernetes/hooks/test_kubernetes_async.py

[2022-06-24 06:54] #310 closed

[2022-06-24 07:14] phanikumv opened #470 "Fix BigQueryInsertJobOperatorAsync failure"
BigQueryInsertJobOperatorAsync is failing with below error. Might be due to a breaking change on google provider in OSS

AttributeError: 'BigQueryInsertJobOperatorAsync' object has no attribute '_job_id'

[2022-06-24 10:56] #459 closed

[2022-06-24 14:08] phanikumv opened #472 "Automate testing RC version of providers"
Whenever a RC(release candidate) is created on Airflow OSS which includes an upgrade of any of the providers, we would like to have some automation to test the providers from the RC with the astronomer-providers build to check that our async operators are not impacted if there's some breaking change.
If we observe some breaking change, we can quickly prioritise on making the necessary changes on a

[2022-06-24 17:57] bharanidharan14 commented on #412
@ReadytoRocc Thanks for commenting
- I have added about `account locators identifiers` in the documentation, and user may want to add the account along with the region.
- if I logged the `statementStatusUrl`, `message`, and `createdOn` it will be logged in the trigger and web server UI won't be having this log
- I have logged the whole return response we can able to see the metadata of the query a

[2022-06-26 15:37] pankajastro opened #474 "Document Example DAG's"

[2022-06-27 04:49] bharanidharan14 commented on #346
closed the Draft PR and raised separate PR for only `Create` and `Delete Subscription` PR and will create separate PR for `Update` and `Receive message` subscription

PR: https://github.com/apache/airflow/pull/24625

[2022-06-27 07:11] #463 closed

[2022-06-27 07:26] pankajkoti commented on #434
I am guessing this could be due to some infra issue or underlying core implementation issue. I was unable to reproduce this issue locally.

[2022-06-27 09:35] bharanidharan14 commented on #465
Added documentation on Azure storage blob connection creation

Notion Page Documentation link: [Azure Blob Connection Creation(wasb)](https://www.notion.so/astronomerio/Azure-Blob-Connection-Creation-wasb-30983534d0104625b607ec3bb4dbe637)

[2022-06-27 09:39] #470 closed

[2022-06-27 09:40] phanikumv commented on #465
Have given review comments which need to be addressed before moving to Done state.

[2022-06-27 10:12] phanikumv commented on #416
AWS test connection is already implemented in https://github.com/apache/airflow/pull/24662

[2022-06-27 13:33] #466 closed

[2022-06-27 16:07] bharanidharan14 commented on #412
As per Discussion with @ReadytoRocc This Async Snowflake SQL Operator works as the expected, it can able submit multiple SQL statements sequentially, and poll for the status, and this operator can be released as  open source operator along with few requirements fix. so closing this ticket

[2022-06-27 16:09] #412 closed

[2022-06-27 16:19] phanikumv opened #476 "[SPIKE/RESEARCH]:AsyncPostgresSensor"

[2022-06-27 16:46] phanikumv commented on #416
Google cloud test connection has been implemented in https://github.com/apache/airflow/pull/24682

[2022-06-27 17:41] bharanidharan14 commented on #465
Addressed Review comments

[2022-06-28 00:14] bharanidharan14 commented on #410
Created a pre-step to delete the EKS cluster and EMR virtual cluster before creating and testing

[2022-06-28 01:17] bharanidharan14 commented on #410
In long running task I getting `the maximum number of VPC has been reached` error

[2022-06-28 01:17] bharanidharan14 commented on #410
![Screenshot 2022-06-28 at 6.16.03 AM.png](https://images.zenhubusercontent.com/61a8a8b8234cfe4cbd2d235b/9184f310-f368-44ba-85c8-639cb835dc79)

[2022-06-28 04:18] bharanidharan14 opened #477 "Implement Async Snowflake SQL API Operator"
Need to implement  Snowflake SQL API as the continuation of SPIKE task or POC task on Snowflake SQL API
https://app.zenhub.com/workspaces/airflow-providers-team-61a89ee7fbf048001dc8378d/issues/astronomer/astronomer-providers/412

- [x]  Add Snowflake SQL API Async Operator, Hook, Trigger

- [ ] Unit Tests coverage in the PR (90% Code Coverage -- We will need to add CodeCov separately to measure co

[2022-06-28 05:02] rajaths010494 commented on #428
Currently, astrolabe is using the query
[code]
to fetch the count.
Currently, astrolabe do not have the ability to observe subclassing/inheritance.

Nebula task data is provided by the deployments’ task_instance table in the metadata DB, which does not provide this information.

Astro task data is provided by task instance splunk logs, which do not provide this information.

Unless telemetry suppo

[2022-06-28 05:30] rajaths010494 commented on #428
If we use dag code to fetch the data then we need to use imports for operators or sensors to get the info
 - there can be unused imports in dags.
 - `from airflow.operators.dummy import DummyOperator as do`
      which could cause issues and might not get the proper count.
  - There can be a separate python file written for inheritance or subclasses are called and imported inside dag file might no

[2022-06-28 06:16] rajaths010494 commented on #379
Retesting it today

[2022-06-28 06:25] pankajkoti commented on #187
Able to connect to azure storage and also tested that the sync Wasbblobsenor and wasbblobprefix Sensors run successfully

Checking next what we can use for asynchronous sensing

[2022-06-28 06:35] #465 closed

[2022-06-28 09:15] sunank200 opened #479 "Optimise the snowflake when schema and table exists"
**Is your feature request related to a problem? Please describe.**
For the optimisation of load data, in case the schema and table exist, use the `COPY INTO` command by creating the stage.

**Describe the solution you'd like**
Check if the table and schema exist. Create a snowflake stage based on the snowflake integration provided by the user. Generate the query to `COPY INTO` and run.

[2022-06-28 09:17] sunank200 commented on #479
Sorry seems like this is created in wrong repository

[2022-06-28 09:17] #479 closed

[2022-06-28 11:41] kaxil commented on #392
@jwitz Until this is done we now also have an entry on the Astronomer Registry.

**Operators**: https://registry.astronomer.io/providers/astronomer-providers?type=Operators
**Sensors**: https://registry.astronomer.io/providers/astronomer-providers?type=Sensors

[2022-06-28 13:58] kaxil commented on #428
Did you look at the `data` column in `serialized_dag` table @rajaths010494 -- check if we store the path to the operator in the serialized json.

Separately, did you manage to find a way of identifying whether an operator was async or not?

[2022-06-28 14:02] pankajkoti commented on #187
Relevant async clients are available in the library:
`azure.storage.blob.aio`

and the sample async IO implementations can be found here: https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-python/storage-blob-samples/

[2022-06-28 14:03] pankajkoti commented on #187
Closing the spike as it seems possible to implement the async sensors. I have created a draft implementation and tested the example DAG added in the PR: https://github.com/astronomer/astronomer-providers/pull/482

[2022-06-28 15:49] rajaths010494 commented on #428
Yes i have checked it table contains operator/sensor and module path

[code]

I Checked the trigger table where temporarily data is stored when the task has been deferred but it's not persisted once the task is completed.

[2022-06-28 17:16] bharanidharan14 commented on #477
Fixed Mypy issues and completed code coverage, test case for trigger and operator

[2022-06-28 19:21] bharanidharan14 commented on #410
![Screenshot 2022-06-29 at 12.50.46 AM.png](https://images.zenhubusercontent.com/61a8a8b8234cfe4cbd2d235b/eed779fd-4ad8-4416-8467-104cc43a1188)

[2022-06-28 19:22] bharanidharan14 commented on #410
[Uploading... Screenshot 2022-06-29 at 12.52.06 AM.png]

[2022-06-28 19:24] bharanidharan14 commented on #410
Default quota VPCs per region is 5 and EC2-VPC Elastic IPs default is 5

[2022-06-29 01:59] bharanidharan14 commented on #460
@pankajkoti

we have` /2.1/jobs/runs/get` API to get the runs status of job submitted, we can get some more data in this
{
  "job_id": 11223344,
  "run_id": 455644833,
  "number_in_job": 455644833,
  "creator_user_name": "user.name@databricks.com",
  "original_attempt_run_id": 455644833,
  "state": {
    "life_cycle_state": "PENDING",
    "result_state": "SUCCESS",
    "user_cancelled_or_timedout"

[2022-06-29 05:49] rajaths010494 commented on #415
https://github.com/astronomer/astronomer-providers/pull/483

[2022-06-29 13:39] pankajastro opened #484 "DAG Example docs should contain clickable link"
currently, the example DAG in documentation contains the example DAG file link but the link is a text string we should make it a clickable link

https://github.com/astronomer/astronomer-providers/pull/473#discussion_r907492069

[2022-06-30 05:06] rajaths010494 commented on #428
![image.png](https://images.zenhubusercontent.com/61cd5705d341327dd82ca4b5/e90d85bf-e9d8-4b5a-b273-8238db2b4bbe)

[2022-06-30 05:31] rajaths010494 commented on #428
When async operator/sensor runs in task_instance table column next_kwargs has been updated with null whereas for sync operators /sensors it is empty.
`select operator, count(*) as count from task_instance where next_kwargs is not null group by operator order by count desc;`

![Screenshot 2022-06-30 at 10.55.43 AM.png](https://images.zenhubusercontent.com/61cd5705d341327dd82ca4b5/1d22af7a-53f0-4c38

[2022-06-30 05:43] rajaths010494 commented on #428
Documentation of the findings .(WIP)
https://www.notion.so/astronomerio/Approach-to-find-usage-metrics-of-Operators-Sensors-947dd9d9968444fe984ee34ef6c4a420

[2022-06-30 14:30] rob-1126 opened #485 "azure key vault integration prefixes variables_prefix and connections_prefix incorrectly"
**Describe the bug**
azure key vault adds a - between the key prefix and the secret name when it reads it from azure key vault. It does this even when the key prefix is "" so secrets end up named -my-secret instead of my-secret.

**To Reproduce**
Follow the instructions to set up an azure key vault integrated install with a connections_prefix of "".
Create a secret named -my-var in azure key vault

[2022-06-30 14:32] rob-1126 commented on #485
Doc fix filed at https://github.com/astronomer/issues/issues/4796 intentionally updates docs to match the current (pre-fix) behavior of this provider. Once this ticket is done, the docs should be updated again to state the behavior changes with Airflow v. <fix version>.

[2022-06-30 18:20] #474 closed

[2022-06-30 23:54] bharanidharan14 commented on #477
Fixed Test case for hooks

[2022-07-01 06:34] phanikumv commented on #416
Azure Wasb Hook test connection has been implemented in https://github.com/apache/airflow/pull/24771

[2022-07-01 06:39] phanikumv commented on #477
Awaiting code coverage improvement

[2022-07-01 06:40] #415 closed

[2022-07-01 06:44] phanikumv commented on #460
Please mention the discussion points with Ross and conclude on this.

[2022-07-01 06:46] phanikumv commented on #428
Please mention the tabular summary of all the analysis done on this story and the plan ahead.

[2022-07-01 10:49] pankajastro opened #490 "Document Example DAG of newly Sdded Operator/Sensor"
Related PR:
https://github.com/astronomer/astronomer-providers/pull/483
https://github.com/astronomer/astronomer-providers/pull/482

[2022-07-01 10:57] pankajastro opened #491 "Add .airflowignore file for Integration Test"
We should either consider adding env var `AIRFLOW__CORE__DAG_IGNORE_FILE_SYNTAX` in dockerfile or creating a .airflowignore file for integration test to ignore process test resources files

Result of: https://github.com/astronomer/astronomer-providers/pull/489#discussion_r911806203

[2022-07-01 11:20] #243 closed

[2022-07-01 11:25] pankajkoti commented on #434
We reached out multiple support channels for help on this issue #support-cloud & #astro-runtime but did not get any response.

Hence, we have created a support ticket in Zendesk now: https://astronomer.zendesk.com/agent/tickets/10760

[2022-07-01 12:01] #490 closed

[2022-07-01 15:07] bharanidharan14 commented on #460
The purpose of adding Databricks extractor in Airflow is to emit the lineage data of Databricks jobs triggered from Airflow by `DatabricksSubmitRunOperatorAsync` and `DatabricksRunNowOperatorAsync` operators.

For the extraction, To start with some basic details found some Databricks API `/2.1/jobs/runs/get` , this API provides us only the run and job details and couldn't find anything around the

[2022-07-03 20:30] raphaelauv opened #493 "DockerOperatorAsync"
**Is your feature request related to a problem? Please describe.**
DockerOperator is one of the operators that some teams use before going for KPO or KubernetesExecutor (to split airflow itself and tasks to compute)

**Describe the solution you'd like**
An async DockerOperator

[2022-07-04 05:49] rajaths010494 commented on #379
https://github.com/astronomer/stellar/issues/225 Git issue has been raised for the task logs not showing up for DAGS that trigger jobs in external clusters

[2022-07-04 05:59] rajaths010494 commented on #428
|                                    |Findings                                                                                                                                          |Next steps                                                                          |Notes

[2022-07-04 07:05] pankajastro commented on #443
Maybe it would be fix and release in next provider release OSS PR https://github.com/apache/airflow/pull/24658

[2022-07-04 10:16] pankajkoti opened #495 "Fix example_async_bigquery_queries dependency on delete_dataset task"
It is observed that the delete_dataset task is called even before
the dependent tasks finish processing which depend on the dataset
to be queried upon.

 Attaching the current incorrect dependency screenshot.![Screenshot 2022-07-04 at 3.45.07 PM.png](https://images.zenhubusercontent.com/624476b10ffe431c7bb98647/65c2a9b0-b43e-43e0-814d-8b5df435646c)

Following is the log where the  select_query_job

[2022-07-04 11:18] rajaths010494 commented on #461
An storage account was deleted which has been created and connection string  for the storage account has been updated in astro cloud.

[2022-07-04 11:26] pankajkoti commented on #434
We need to some analysis as part of Providers team on what could be the root cause (scheduler/triggerer) for this.

[2022-07-04 11:28] pankajkoti opened #497 "Understand & Investigate AIP-48"
Understand what AIP-48 covers

https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-48+Data+Dependency+Management+and+Data+Driven+Scheduling

[2022-07-04 11:36] pankajkoti opened #498 "Fix example_async_file_sensor"
We have an issue in `example_async_file_sensor` due to a recent merged PR: https://github.com/astronomer/astronomer-providers/pull/489.

[2022-07-04 11:36] pankajkoti opened #499 "Fix example_async_file_sensor"
We have an issue in `example_async_file_sensor` due to a recent merged PR: https://github.com/astronomer/astronomer-providers/pull/489.

for the integration test of `FileSensorAsync` in a recent, we made the following improvement
- trigger FileSensorAsync task
- in parallel with FileSensorAsync trigger a bash task which will wait for 10 sec and create a file `example_file_async_sensor.txt` in the

[2022-07-04 11:44] #495 closed

[2022-07-04 12:39] pankajkoti commented on #461
Thank you @rajaths010494 for looking into this and fixing it

[2022-07-04 13:24] phanikumv commented on #498
Duplicate of #499

[2022-07-04 13:24] #498 closed, assigned to pankajastro

[2022-07-04 18:04] bharanidharan14 commented on #477
Addressed Review comments

[2022-07-04 18:40] pankajastro commented on #499
it is working on local but not astro-cloud

I tried adding more tasks to log the file in the `/usr/local/airflow/dags` folder and I can see the required file has been created at the desired place.
[code]

Also, the delete file task is throwing the below error which is weird
[code]

If my assumption is correct the dags folder is shared across the container then this might be some issue with astro-c

[2022-07-05 05:48] rajaths010494 commented on #413
https://github.com/astronomer/astronomer-providers/pull/500

[2022-07-05 06:31] pankajkoti commented on #472
Added a make target accepting pinned provider versions to replace dependencies in the setup.cfg.

Working next on building an image with the updated setup.cfg and deploying to Astro Cloud Integration Tests deployment and triggering the master DAG.

[2022-07-05 06:34] phanikumv commented on #461
Ran fine today.Hence closing.

[2022-07-05 06:34] #461 closed

[2022-07-05 11:46] phanikumv commented on #416
Azure FileShare test connection has been implemented in https://github.com/apache/airflow/pull/24843

[2022-07-05 15:13] #413 closed

[2022-07-05 15:38] pankajastro commented on #499
- The dag folder in our cloud infra is not shared across container
- Any file created by a task gets clean up after the task is finished for this reason the delete task is failing
Revering the PR => https://github.com/astronomer/astronomer-providers/pull/501

[2022-07-05 17:29] rossturk commented on #460
I agree - if the goal is to extract data lineage from Spark jobs, the direct integration between OpenLineage and Spark should be used. This is the way to get input/output metadata from Spark - Airflow does not yet have a mechanism for observing what goes on inside Spark.

There may still be work we can do to ease the configuration of the OL/Spark integration - perhaps we can have the operator inje

[2022-07-05 17:43] vikramkoka commented on #428
Thanks @phanikumv , will review

[2022-07-06 12:48] #499 closed

[2022-07-06 15:17] #472 closed

[2022-07-07 05:33] bharanidharan14 commented on #410
Elastic IPs default is 5 per region, this can be increased, as of now all the 5 is used and none of the instance is using it the no of instance running is 0 as per the below image, we can increase the Elastic IP limit or we delete this IPs and run the DAG again
 ![Screenshot 2022-07-07 at 11.00.26 AM.png](https://images.zenhubusercontent.com/61a8a8b8234cfe4cbd2d235b/f4c79c3a-9173-4c7f-b897-5779f2c

[2022-07-07 09:08] pankajkoti commented on #410
In my opinion, we should check why these Elastic IPs are getting created. If Elastic IPs are created and not associated to any instance, they get charged: https://aws.amazon.com/premiumsupport/knowledge-center/elastic-ip-charges/

So if no one is using it, we should delete them and also check why these are getting created in the first place so that they are not re-created & remain unused.

[2022-07-07 16:52] bharanidharan14 commented on #497
Going through the Documentation

[2022-07-08 06:35] pankajkoti commented on #392
Wrote a python script to generate list of operators and sensors using ast.parse.

Working next on how to generate document from this Python list of operators and sensors.

[2022-07-09 02:37] phanikumv opened #507 "[SPIKE/RESEARCH] Async LambdaInvokeFunctionOperator"
Acceptance Criteria:
Find a Python library that supports Asynchronous implementation for LambdaInvokeFunctionOperator if the official library does not support it. Document possible options and selection reasons for a particular library in this GitHub issue via a Summary comment.

Ensure that connection is set up and working.
Ensure overall feasibility for the async implementation the operator.

[2022-07-11 06:07] bharanidharan14 commented on #460
@rossturk whats your thought on implementing this OL extractor ? Do we need this Databricks OL Extractor ?

[2022-07-11 06:49] phanikumv commented on #379
Still waiting on astronomer/stellar#225

[2022-07-11 12:12] #392 closed

[2022-07-11 12:16] pankajkoti opened #508 "Enhance Sphinx extension for Operators & Sensors listing"
The current implementation in PR https://github.com/astronomer/astronomer-providers/pull/504 lists the Operators and Sensors using raw HTML.
As an enhancement to this, check how we can use the `list-table `Sphinx directive to dynamically generate table rows so that we can reference the Sphinx Class definitions, include python code and add references to other needed Sphinx directives like the corre

[2022-07-11 17:34] bharanidharan14 commented on #410
On this issue there was an existing  Elastic IP's and Unused VPC were not deleted properly while deleting the EMR-EKS cluster so the `create_eks_cluster_kube_namespace_with_role` step was throwing `AddressLimitExceed` error. airflow retries for the failed job, while retrying the same step the task is trying to create cluster so that time
`An error occurred (ValidationException) when calling the Cr

[2022-07-11 17:54] bharanidharan14 commented on #410
On the same DAG there was step `run_em_container_job` is running for long time and the job is not getting updated or completed which was working earlier. Did some analysis on this step tried running sample spark PY job in the EMR container and it can able to submit the job not able to complete it. It seems to be like permission issue while writing the log    ![Screenshot 2022-07-11 at 10.23.50 PM.

[2022-07-11 17:56] bharanidharan14 commented on #477
Addressed Review comments
https://github.com/astronomer/astronomer-providers/pull/478

[2022-07-12 06:18] rajaths010494 commented on #462
Broken plugin: [openlineage.airflow.plugin] Failed to import astronomer.providers.amazon.aws.extractors.redshift.RedshiftAsyncExtractor .
Update OL version to 0.10.0 and 0.11.0 and tried the same issue exists.
Connect with @pankajkoti and try to resolve this.

[2022-07-12 06:34] pankajkoti commented on #434
There was a known issue https://github.com/apache/airflow/issues/23824 and it has been fixed in Airflow 2.3.3 . We deployed a corresponding dev runtime image: astro-runtime-dev:5.0.6-alpha4 on astronomer-dev.io deployment and we did not observe this issue.
With upgrading the base image to 5.0.6 , hopefully, we will not observe this issue.

[2022-07-12 07:52] phanikumv commented on #493
https://github.com/aio-libs/aiodocker seems to be a good option to build this. Thanks @rajaths010494

[2022-07-12 14:57] pankajkoti commented on #434
Today, we deployed `quay.io/astronomer/astro-runtime:5.0.6-base` for our `Integration Tests` deployment in Astro Cloud and the master DAG triggered manually has run fine for all DAGs (all green). We can observe for another run tomorrow morning with our nightly job to confirm that the issue is resolved and then close the ticket.

[2022-07-12 14:59] pankajkoti commented on #507
Explored the sync version of Operator, created a test Lambda function in our account, created a AWS policy to access this Lambda function and assigned to our integration-test user in AWS. Created an example DAG with the sync version and it runs fine. So, we're setup with the needed AWS configuration.

Will work next on figuring out how to implement the async version.

[2022-07-12 15:12] bharanidharan14 commented on #460
Based on the conversation with @rossturk, its up to us to decide whether to have extractor, If we have it will be like additional information but it won’t capture lineage.

[2022-07-12 15:13] bharanidharan14 opened #510 "Implement usage metrics of Operators/Sensors"
Add module path and inheritance(sub-class) details to `scheduler_job.py` log info, so that astro cloud can pick up the splunk logs to show the usage count of the Operator and sensor

https://www.notion.so/astronomerio/Approach-to-find-usage-metrics-of-Operators-Sensors-947dd9d9968444fe984ee34ef6c4a420

[2022-07-12 15:42] #477 closed

[2022-07-12 16:34] bharanidharan14 commented on #410
Created Support Ticket
 https://us-east-1.console.aws.amazon.com/support/home?region=us-east-1#/case/?displayId=10371549401&language=en

[2022-07-12 18:47] bharanidharan14 commented on #497
Tech Talk on August 9th 2022

[2022-07-13 04:22] bharanidharan14 commented on #346
PR https://github.com/apache/airflow/pull/24625 got Merged, creating another PR for
- UpdateSubscriptionOperator
- ReceiveMessageSubscriptionOperator

[2022-07-13 06:36] pankajkoti commented on #428
Spike story is complete. Closing the issue.

[2022-07-13 06:36] #428 closed

[2022-07-13 06:38] #497 closed

[2022-07-13 06:38] pankajkoti commented on #497
Understanding is complete by Bharani.  Closing the issue and we will have a tech talk on 9th August for team knowledge sharing.

[2022-07-13 06:40] pankajkoti commented on #434
Today morning too, the master DAG ran fine and we did not observe this issue in any of the DAG runs. Closing the issue.

[2022-07-13 06:40] #434 closed

[2022-07-13 06:46] pankajkoti commented on #460
Since the lineage information can be extracted post enabling lineage in Databricks, and we can only derive the metadata information regarding the job like jobID, jobName, etc. we're concluding that we're not going to build an extractor for Databricks at the moment. Also, closing the issue.

cc: @kaxil

[2022-07-13 06:46] #460 closed

[2022-07-13 06:48] pankajkoti commented on #462
Current issue is that with the latest Astro image and recent OpenLineage releases 0.9.0, 0.10.0 & 0.11.0 the plugin load is failing for Redshift Extractor. @rajaths010494 to connect with Maciej (GetInData team) and dig deeper into resolving this issue today.

[2022-07-13 06:50] pankajkoti commented on #416
Phani discussed the password field issue with Kaxil and it's concluded that the field will be hidden.

[2022-07-13 06:51] pankajkoti commented on #379
3 issues have been identified by the Stellar team and work is still in progress on their end. We're waiting for their resolutions.

[2022-07-13 06:52] rajaths010494 commented on #379
Logging retrieval, which the associated PR should solve. Needs an integration test, which is almost done.
Log shipping - permissions. #232 will track that.

[2022-07-13 09:05] kelechi2020 commented on #379
The Spark/Pig jobs are failing actually,. Let's debug this further after the log fix land so we could actually have some facts .Will create a follow up issue for it after the logs permissions issues are fixed  [#230](https://github.com/astronomer/stellar/pull/230) [#232](https://github.com/astronomer/stellar/pull/232)

CC: @rajaths010494

[2022-07-13 09:47] pankajkoti commented on #507
I am able to invoke a function using the asynchronous mode given by the library. It does invoke the function asynchronously & gives  a request ID in the response, however I don’t seem to find a utility given by AWS / boto3 to poll & fetch the status of this request ID.

Following is the response we get after invoking the function asynchronously,
[code]

[2022-07-13 09:49] pankajkoti commented on #507
Boto3 Lambda functions list: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/lambda.html#Lambda.Client.invoke

[2022-07-13 09:51] phanikumv commented on #507
Why cant we do it as mentioned in this link?
https://stackoverflow.com/questions/66505773/how-to-get-the-status-of-a-aws-lambda-function-with-boto3

On Wed, Jul 13, 2022 at 3:17 PM Pankaj Koti ***@***.***>
wrote:

[2022-07-13 10:01] pankajkoti commented on #507
@phanikumv The answer in the link is not to get the status of the function invocation but it instead is invoking the function in synchronous mode and waiting by itself for the completion of the function.

`InvocationType="RequestResponse"` means synchronous invocation, `InvocationType="Event"` means asynchronous invocation, but there does not seem to be a subsequent method to fetch the status of t

[2022-07-13 10:05] pankajkoti commented on #507
As mentioned in the docs here: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/lambda.html#Lambda.Client.invoke , the parameter values for `invocation_type` are described as:

**InvocationType** (string) --
Choose from the following options.

**RequestResponse** (default) - Invoke the function synchronously. Keep the connection open until the function returns a response

[2022-07-13 10:25] pankajkoti commented on #507
Like someone mentioned here: https://stackoverflow.com/questions/72165019/how-can-i-track-the-progress-status-of-an-asynchronous-aws-lambda-invocation , there seems to be no built-in way to track the status of async Lambda function invocation.

[2022-07-13 16:23] phanikumv opened #511 "Add CI job to check for dead links"
Refer to https://github.com/astronomer/astro-sdk/pull/528

[2022-07-14 02:43] bharanidharan14 commented on #346
Created PR for Azure Service Bus Update and receive message subscription
https://github.com/apache/airflow/pull/25029

[2022-07-14 05:16] pankajkoti opened #512 "GCP Dataproc DAG failed with timeout error"
For 1 instance of the DAG triggered on 14th July as part of the master DAG, the GCP Dataproc DAG has failed with below error:
[code]

Retriggering the DAG worked fine, but need to check what went wrong here

[2022-07-14 06:31] pankajkoti opened #513 "Use timeout instead of execution_timeout in Async Sensors for deferrable timeout arg"
As discussed in the Slack conversation https://astronomer.slack.com/archives/C0387PMM2E7/p1657723602373739, we should make the change to use `timeout` instead of `execution_timeout` in the `ExternalTaskSensorAsync` and all other async sensors for the `deferrable timeout arg`.

- [x] make the necessary changes in the code
- [ ] add a note in changelog

[2022-07-14 09:14] pankajkoti opened #514 "Fix async HTTP sensor failing with http: 4.0.0rc1"
The http: 4.0.0rc1 removes the assignment of hook variable to the instance.
As a result, the derived class HttpSensorAsync extending the base class HttpSensor fails as
it relies on the base class' instance variable hook with the below error:
[code]

[2022-07-14 09:16] pankajkoti commented on #514
The fix involved recreating the hook instance in the derived Async class implementation so that it is made available for the subsequent method calls.

This is a forward-incompatible change and the fix should only be merged once http: 4.0.0 is released

[2022-07-14 09:37] pankajkoti opened #516 "Include Airflow version in the Slack report for Integration Tests"
As part of the Slack report that gets generated with the nightly run for
our Integration Tests, include the Airflow (Astro runtime version) in the
report so that it provides information that we might need for quick
debugging and verification purposes.

[2022-07-14 10:26] pankajkoti opened #518 "Master DAG getting triggered with old image (stale provider dependencies)"
The test-rc-deps make target deploys a new image with updated setup.cfg and then immediately
triggers the master DAG. However, it is observed that the image update across Airflow component
pods takes time on Astro cloud and the triggered master DAG uses old image with stale dependencies.

Introduce sleep between the two steps so that we allow time for the image to be updated across
the Airflow com

[2022-07-14 10:27] pankajkoti commented on #518
We checked that there is no programatic way at the moment to know whether the image is updated across the Airflow components and hence deciding to introduce a plain sleep of 15 minutes between deploying image and triggering the master DAG.

[2022-07-14 10:29] pankajkoti commented on #507
I asked on the Airflow OSS channel in the #airflow-aws channel. So far have got only reply mentioning the same that it may not be possible.

@phanikumv please check what should we do on this Spike.

[2022-07-14 11:19] pankajkoti opened #520 "Fix mypy error in sql_api_generate_jwt.py module"
Mypy is complaining with the below error:

[code]

[2022-07-14 12:20] pankajkoti commented on #351
We have a Zendesk ticket created for this issue: https://astronomer.zendesk.com/agent/tickets/9862

[2022-07-14 12:42] #520 closed

[2022-07-14 12:45] bharanidharan14 opened #523 "Fix RedshiftSQL Operator failure with latest apache-airflow-providers-amazon==4.1.0rc1"
In amazon==4.1.0rc1 AwsBaseHook requires any one `resource_type` and `client_type` if both were passed there was an value error raised

[code]

[2022-07-14 13:00] #516 closed

[2022-07-14 13:10] #518 closed

[2022-07-14 16:17] bharanidharan14 commented on #523
Changes made to RedshiftDataHook and RedshiftSQLHookAsync regarding the apache-airflow-providers-amazon==4.1.0rc1 rc image version changes in this [PR](https://github.com/apache/airflow/pull/24662)

[2022-07-14 16:17] bharanidharan14 commented on #523
Changes made to RedshiftDataHook and RedshiftSQLHookAsync regarding the apache-airflow-providers-amazon==4.1.0rc1 rc image version changes in this [PR](https://github.com/apache/airflow/pull/24662)

[2022-07-14 16:24] #523 closed

[2022-07-14 16:40] #346 closed

[2022-07-15 04:27] pankajkoti commented on #507
Mark Richman, Senior Solutions Architect at AWS has confirmed that there is no way currently to get the invocation status. Hence, I believe it is not feasible to implement an async operator to await the status of a Lambda function invocation.

[2022-07-15 05:50] #511 closed

[2022-07-15 06:33] rajaths010494 commented on #462
Waiting for PR to be raised from Ol side so that i can review and implement the same in our extractor

[2022-07-15 06:47] pankajkoti commented on #410
Waiting for technical support from AWS.

[2022-07-15 06:49] pankajkoti commented on #507
Closing the spike as the implementation is not feasible.

[2022-07-15 06:49] #507 closed

[2022-07-15 06:50] pankajkoti commented on #462
We can refer to this page: https://www.notion.so/astronomerio/Developing-OpenLineage-in-Astro-9f30a74c74354f168279c1205f4d89a6 to install local packages

[2022-07-15 07:01] pankajkoti commented on #312
None of the operators take significant time with the sync operators as observed by @bharanidharan14 . So, at the moment, we do not need to implement async version for any of them. Closing the issue.

[2022-07-15 07:01] #312 closed

[2022-07-15 11:35] phanikumv commented on #416
Azure CosmosDB test connection has been implemented in https://github.com/apache/airflow/pull/25018

[2022-07-15 15:03] rajaths010494 opened #526 "Poke interval is not exposed in HttpSensorAsync"
Poke interval arg is not exposed in HttpSensorAsync and while calling the trigger from HttpSensorAsync poke_interval arg isn't passed.
https://astronomer.slack.com/archives/CGQSYG25V/p1657896611288759
To expose the poke_interval in the HttpSensorAsync.

[2022-07-18 20:46] kelechi2020 commented on #379
@rajaths010494 a [Support reading logs for multiple try_numbers (](https://github.com/astronomer/stellar/commit/5abbcb6c2ace7a4a2f5e709c4d4402e9762e9df3)
 is made on stellar  using `5.1.0-alpha11`  image.
 Please help verify fix on integration dags.
 CC: @ernest-kr

[2022-07-19 12:14] phanikumv commented on #410
As per the [this](https://docs.amazonaws.cn/en_us/emr/latest/EMR-on-EKS-DevelopmentGuide/emr-on-eks-dev-guide.pdf) link, we need to use `m5.xlarge` instance type for EMR EKS

[2022-07-21 05:17] pankajkoti commented on #392
hi @jwitz the docs are available now with the latest release here: https://astronomer-providers.readthedocs.io/en/stable/providers/operators_and_sensors_list.html

[2022-07-21 07:07] phanikumv opened #539 "markupsafe compatibility issue with Airflow 2.3.3"
Bump up `markupsafe` version as https://github.com/apache/airflow/pull/21664/ and https://github.com/pallets/markupsafe/issues/284 are closed

### Discussed in https://github.com/astronomer/astronomer-providers/discussions/528

<div type='discussions-op-text'>

<sup>Originally posted by **akashgangulyhf** July 18, 2022</sup>
Hello, currently the markupsafe supports (<2.1.0,>=1.1.1) but as per Airf

[2022-07-21 07:29] pankajkoti opened #540 "Fix BigQuery integration test for failing example DAG"
Integration tests has started failing for Google Cloud BigQuery Queries Example DAG.
Debug and fix the issue.

[2022-07-21 07:54] #540 closed

[2022-07-23 11:03] pankajastro opened #544 "Move all SQL classes to common-sql provider"
Apache Airflow PR https://github.com/apache/airflow/pull/24836 all SQL related classes to common-sql

acceptance-criteria

- [ ]  Investigate if the above changes can break any our async operator/sennsor
- [ ]  Identify if we are using any deprecated class

[2022-07-23 11:09] pankajastro opened #545 "Add links for Google Kubernetes Engine operators"
OSS PR: https://github.com/apache/airflow/pull/24786

[2022-07-23 11:27] pankajastro opened #546 "Fix S3KeySensor"
OSS PR: https://github.com/apache/airflow/pull/24378

[2022-07-23 11:30] pankajastro opened #547 "Investigate to add Amazon appflow"
Investigate if it make sense to add Amazon appflow async operator/sensor
OSS PR: https://github.com/apache/airflow/pull/24057

[2022-07-25 05:58] phanikumv commented on #410
Closing as the EMR EKS issue is resolved

[2022-07-25 05:58] #410 closed

[2022-07-25 09:38] phanikumv commented on #539
Closing as this issue is fixed in release 1.7.1.

[2022-07-25 09:38] #539 closed

[2022-07-26 06:21] rajaths010494 commented on #526
https://github.com/astronomer/astronomer-providers/pull/554

[2022-07-26 06:41] rajaths010494 commented on #513
testing of example dag is pending

[2022-07-26 09:50] #526 closed

[2022-07-26 13:32] bharanidharan14 commented on #510
Created PR in OSS Airflow for adding `op_classpath` in schedular log, in order to track where the operator/sensor originated from

[#25309](https://github.com/apache/airflow/pull/25309)

[2022-07-27 05:35] rajaths010494 commented on #513
https://github.com/astronomer/astronomer-providers/pull/555

[2022-07-27 05:36] rajaths010494 commented on #379
Astro Dev env was down. I will test it once it's fixed.

[2022-07-27 06:19] pankajkoti commented on #44
In case of GCP, we are using following resources:
1. GCS Buckets
2. Compute Instances
3. DataProc Cluster
4. Kubernetes cluster

Upon exploring available options, there is no direct library available to destroy those resources as per our need. We will need to write a custom shell script to list and destroy the resources.

We also need to check how to securely store the service account key file jso

[2022-07-28 06:20] pankajkoti commented on #44
Phani unblocked me with assigning permissions to the service account for GCP nuke.

Started writing DAG for nuking. Connection based approach does not work as secrets do not come. Using Variable based approach. Able to authenticate and execute gcloud commands with that

[2022-07-28 06:28] bharanidharan14 opened #557 "Update Doc string for SnowflakeOperatorAsync"
Describe the usage scenarios for SnowflakeOperatorAsync

[2022-07-28 06:30] rajaths010494 opened #558 "Async sensors should inherit from BaseOperator or BaseSensorOperator"
Async sensors should inherit from BaseOperator or BaseSensorOperator??

[2022-07-28 06:38] pankajkoti commented on #44
Need additional permissions to create above resources to my dev account (this is different from the service account) to be able to test the nuke.

[2022-07-28 06:43] rajaths010494 commented on #379
xhttps://github.com/astronomer/harmony/issues/255

[2022-07-28 06:44] rajaths010494 commented on #379
After upgrading to new image 5.1.0-alpha11 still i am seeing error and able to find logs

[2022-07-28 06:57] rajaths010494 commented on #462
Today have a connect with maciej for broken plugin issue.

[2022-07-28 07:23] bharanidharan14 commented on #510
Slack conversation on the adding `op_classpath`  in `scheduler_job.py` where the logs are generated, then Astro cloud could pick up the info.  [PR](https://github.com/apache/airflow/pull/25309) raised in OSS

https://astronomer.slack.com/archives/C02PABPU6B0/p1658846250206209

[2022-07-28 07:38] phanikumv opened #559 "Add custom XCOM backends - S3"
Refer to https://astronomer.slack.com/archives/CGQSYG25V/p1658957159758039 for the relevant discussion,
and add S3 XCOM Backend  into the AWS Providers

[2022-07-28 08:49] kelechi2020 commented on #379
Taking a close look:

There happen to be no migration ran/triggered from that indicated an upgrade to the base image to 5.1.0-alpha11 - Looking at the pods created
![image](https://user-images.githubusercontent.com/25426248/181450167-93a6cd53-9c3d-4cb6-b6d1-f316ab9fc398.png)

This is blocked pending when we can have https://github.com/astronomer/harmony/issues/255  up so we can directly create an

[2022-07-28 12:11] bharanidharan14 opened #560 "`See also` links are not showing up in Documentation"
In Doc string if any links are mentioned, its not showing up in Documentation. The syntax for the `see also` is different in Sphinx

[2022-07-29 05:52] phanikumv commented on #416
Azure Batch test connection has been implemented in apache/airflow#25235

[2022-07-29 05:53] phanikumv commented on #416
Azure ContainerInstance test connection has been implemented in apache/airflow#25362

[2022-07-29 06:04] rajaths010494 commented on #462
Draft PR has been raised https://github.com/astronomer/astronomer-providers/pull/561

[2022-07-29 06:21] bharanidharan14 commented on #510
As per discussion over slack, Steve and Ash confirmed all the worker log get ingested into Splunk. Need to look into metadata about the task instance log, if the task instance log has the class path we collate to get metrics, if doesn't have class path need to add it in worker log

[2022-07-29 06:32] pankajkoti commented on #44
PR is ready for the above, tested nuking the resources created in GCP example DAGs: https://github.com/astronomer/astronomer-providers/pull/563